.tsv-settings-account-create-server-plans {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
.tsv-settings-account-create-server-plan-footer {
  font-size: 0.8rem;
  text-align: left;
  margin-left: 12px;
  color: var(--tsv-font-subtitle-color);
}
.tsv-settings-account-create-server-plans-inner {
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.tsv-settings-account-create-server-plan {
  border: 1.5px solid transparent;
  background-color: var(--tsv-contrast-bg);
  width: 30%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  transition: all 0.15s ease;
}
.tsv-settings-account-create-server-plan .tsv-settings-account-create-server-plan-title {
  width: 100%;
  text-align: center;
}
.tsv-settings-account-create-server-plan .tsv-settings-account-create-server-plan-title.fancy {
  font-family: 'TS Gothic';
  font-size: 1.6rem;
}
.tsv-settings-account-create-server-plan.selected {
  border: 1px solid var(--tsv-tint);
}
.tsv-settings-account-create-server-plan:hover {
  cursor: pointer;
  transform: scale(1.025, 1.025);
  box-shadow: 0px 0px 40px -5px var(--tsv-shadow-color);
  border: 1px solid var(--tsv-tint);
}
.tsv-settings-account-create-server-plan.notSelectable {
  pointer-events: none;
  filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tsv-settings-account-create-server-plan-subtitle.promotional {
  font-weight: bold;
}
.tsv-settings-account-create-server-plan-slots {
  font-size: 1.8em;
  color: var(--tsv-tint);
  margin: var(--tsv-padding-v-large) 0;
}
.tsv-settings-account-create-server-plan-slots .tsv-settings-account-create-server-plan-slot-subtitle {
  font-size: 10px;
  color: var(--tsv-font-subtitle-color);
  margin-bottom: var(--tsv-padding-v);
}
.tsv-settings-account-create-server-plan-slots span.fancy {
  font-family: 'TS Gothic';
  font-size: 1.3em;
}
.tsv-settings-account-create-server-plan-slots .tsv-settings-account-create-server-plan-slots-strike {
  font-size: 0.75em;
  margin-right: 5px;
  color: var(--tsv-error-color);
  text-decoration: line-through;
}
.tsv-settings-account-create-server-plan-slots .tsv-settings-account-create-server-plan-slots-strike span {
  color: var(--tsv-font-subtitle-color);
}
.tsv-settings-account-create-server-plans-detail {
  justify-content: space-around;
}
.tsv-settings-account-create-server-plan-subtitle {
  text-align: center;
  margin: var(--tsv-padding-v-small) 0;
  font-size: 0.9rem;
}


.tsv-settings-account-create-server-plan-icon .tsv-icon {
  margin: var(--tsv-padding-v) auto;
}


.ts-info-edit-server-details[data-v-cb8a5d2a] {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--tsv-padding-v);
}
.ts-info-edit-server-details-icon[data-v-cb8a5d2a] {
  margin: var(--tsv-padding-v) var(--tsv-padding-h) var(--tsv-padding-v) 15px;
}
.ts-info-edit-server-details-actual[data-v-cb8a5d2a] {
  flex: 1;
}


.ts-create-server-button {
  width: 100%;
  margin-top: var(--tsv-padding-v-large);
  margin-bottom: var(--tsv-padding-v-large);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tsv-account-create-server-non-ts .ts-btn {
  margin: 0 auto;
}
.ts-create-server-details-region {
  margin-top: var(--tsv-padding-v-large);
  background-color: var(--tsv-contrast-bg);
}


.ts-manage-servers-create-entrypoint {
  height: var(--tsv-row-height);
  padding-right: 0 !important;
  padding-left: var(--tsv-padding-h-small) !important;
  cursor: pointer;
}
.ts-manage-servers-create-entrypoint.muted {
  color: var(--tsv-font-subtitle-color);
  cursor: initial;
}
.ts-manage-servers-create-entrypoint .tsv-item-highlight {
  left: 0;
  right: 0;
}
.ts-manage-servers-create-entrypoint div {
  flex: 1 1 auto;
}
.ts-manage-servers-create-entrypoint .ts-btn {
  width: fit-content;
  margin-top: 0;
  margin-bottom: 0;
}
.ts-server-provisioning-user-server-details {
  align-items: center;
  height: 80px;
  display: flex;
  flex-direction: row;
}
.ts-server-provisioning-user-server-details .tsv-icon {
  margin-left: var(--tsv-padding-h-small);
}
.ts-server-provisioning-user-server-details .ts-server-provisioning-user-server-details-inner {
  margin-left: var(--tsv-padding-h);
  flex: 1 1 auto;
}
.ts-server-provisioning-user-server-details .ts-server-provisioning-user-server-details-subtitle {
  font-size: 0.8em;
  color: var(--tsv-font-subtitle-color);
}
.ts-server-provisioning-user-server-details .ts-server-provisioning-user-server-details-plan {
  margin-top: var(--tsv-padding-v);
  font-size: 0.8em;
}
.ts-server-provisioning-user-server-details .ts-server-provisioning-user-server-details-plan span {
  color: var(--tsv-font-subtitle-color);
}
.ts-server-provisioning-user-server-details .ts-server-provisioning-user-server-details-loader {
  width: 35px;
  height: 35px;
  margin-right: var(--tsv-padding-h-small);
}
.ts-server-provisioning-user-server-details .ts-server-provisioning-user-server-details-buttons {
  display: flex;
  flex-direction: column;
}


.ts-text-input-box-variadic-title {
  display: flex;
  align-items: center;
  transition: all 0.25s;
  position: relative;
}
.ts-text-input-box-variadic-title .ts-text-input-box-variadic-icon {
  min-height: 36px;
  flex: 0 0 auto;
  margin-left: 0.5em;
  align-items: center;
  line-height: 36px;
  width: 1em;
  height: 1em;
  transition: height 0.25s;
  transition-timing-function: ease-out;
}
.ts-text-input-box-variadic-title .ts-text-input-box-variadic-icon svg {
  width: 100% !important;
  height: 100% !important;
  min-width: 100% !important;
  min-height: 100% !important;
}
.ts-text-input-box-variadic-title .ts-text-input-box-variadic-text {
  flex: 1 1 auto;
  line-height: 36px;
  transition: font-size 0.25s, line-height 0.25s;
  transition-timing-function: ease-out;
}
.ts-text-input-box-variadic-title .ts-text-input-box-variadic-text:hover {
  color: var(--ts-menu-action-color);
}
.ts-text-input-box-variadic-title .ts-text-input-box-variadic-close {
  align-items: center;
  justify-content: center;
  right: var(--tsv-padding-v-small);
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.ts-text-input-box-variadic-title .ts-text-input-box-variadic-close:hover {
  --tsv-icon-base: var(--ts-menu-action-color);
}
.ts-text-input-box-variadic {
  padding: 0px;
  margin: 0px;
  height: 40px;
  color: var(--tsv-tint2);
  overflow: hidden;
}
.ts-text-input-box-variadic .ts-text-input-box {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
  transition-timing-function: ease-out;
}
.ts-text-input-box-variadic .ts-text-input-menu-boxes {
  margin: 0;
  margin-bottom: var(--tsv-padding-v);
}
.ts-text-input-box-variadic.expanded {
  min-height: 40px;
  height: inherit;
}
.ts-text-input-box-variadic.expanded .ts-text-input-box {
  visibility: visible;
  opacity: 1;
}
.ts-text-input-box-variadic.expanded .ts-text-input-box-variadic-title {
  height: 25px;
}
.ts-text-input-box-variadic.expanded .ts-text-input-box-variadic-icon {
  min-height: 10px;
  height: 10px;
  width: 10px;
  line-height: 6px;
}
.ts-text-input-box-variadic.expanded .ts-text-input-box-variadic-text {
  font-size: var(--tsv-font-size-small);
  line-height: var(--tsv-font-size-small);
  padding-left: 3px;
}
.ts-text-input-box-variadic.expanded .ts-text-input-box-variadic-text:hover {
  color: var(--ts-menu-action-color);
}
.ts-text-input-box-variadic.expanded .ts-text-input-box-variadic-close {
  opacity: 1;
  pointer-events: auto;
}
.ts-text-input-menu-loading-indicator {
  height: 15px;
  width: 15px;
}
.loader-fade-enter-active {
  transition: opacity 0s;
}
.loader-fade-leave-active {
  transition: opacity 0.2s;
}
.loader-fade-enter,
.loader-fade-leave-to {
  opacity: 0;
}



.tsv-avatar-edit-menu {
  min-width: 280px;
  border-radius: var(--tsv-border-radius);
  box-shadow: 0 0 0 2px var(--tsv-tint);
  position: relative;
  display: flex;
  animation: fade-in-avatar-edit-menu 0.1s;
  animation-timing-function: ease-in;
}
@keyframes fade-in-avatar-edit-menu {
0% {
    opacity: 0;
}
100% {
    opacity: 1.0;
}
}


.tsv-user-details-card {
  height: 80px;
  overflow: hidden;
}
.tsv-user-details-card .tsv-detail-info-topic .tsv-button {
  margin-right: var(--tsv-padding-h-small);
}
.tsv-avatar-container {
  position: relative;
}
.tsv-avatar-container:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.3, 0.3);
  transition: all 0.1s ease-in;
}
.tsv-avatar-container .tsv-avatar-actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10;
}
.tsv-avatar-container .tsv-avatar-actions .tsv-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --tsv-icon-base: var(--tsv-icon-tint2);
  z-index: 11;
}
.tsv-avatar-container .tsv-avatar-actions svg.tsv-icon-loading {
  opacity: 1;
  animation: none;
}
.tsv-avatar-container:hover:after,
.tsv-avatar-loading:after {
  opacity: 0.8;
  transform: scale(0.75, 0.75);
}
.tsv-avatar-container:hover .tsv-avatar-actions,
.tsv-avatar-loading .tsv-avatar-actions {
  opacity: 1;
}


.ts-user-details-card {
  padding: 0;
  overflow: hidden;
}
.ts-account-email-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: var(--tsv-padding-v);
}
.ts-account-email-container .ts-account-email-container-title {
  color: var(--tsv-font-subtitle-color);
  margin-right: var(--tsv-padding-h-small);
}
.ts-account-email-container .ts-account-email-container-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  user-select: text;
}
.ts-account-settings-integrations .tsv-item {
  padding: 0 var(--tsv-padding-h-small);
}
.ts-account-settings-integrations .tsv-item .tsv-item-highlight {
  right: 0;
  left: 0;
}
.ts-account-badges-icon-container {
  display: inline-block;
  cursor: grab;
  transition: all 0.1s ease;
  position: relative;
  overflow: visible;
}
.ts-account-badges-icon-container.ts-account-badges-icon-dragged {
  cursor: grabbing;
}
.ts-account-badges-icon-container.ts-account-badges-icon-dragged .ts-account-badges-icon {
  -webkit-filter: grayscale(100%);
  opacity: 0.2;
}
.ts-account-badges-icon-container:hover:not(.ts-account-badges-icon-dragged) {
  transform: scale(1.15);
}
.ts-account-badges-icon-container.available-slot svg {
  filter: drop-shadow(0px 0px 6px var(--tsv-tint));
}
.ts-account-badges-icon {
  margin-left: 0.625em;
  margin-right: 0.625em;
  width: var(--tsv-icon-size-large);
  height: var(--tsv-icon-size-large);
}
.ts-badges-container {
  display: flex;
  flex-direction: column;
}
.ts-account-badges-available-area {
  position: relative;
  padding: var(--tsv-padding-v-small) var(--tsv-padding-h-small);
}
.ts-account-badges-active-area {
  position: relative;
  height: 80px;
  max-width: 100%;
  margin-bottom: var(--tsv-padding-v);
}
.ts-account-badges-active-area .ts-account-badges-icon-container {
  height: 75px;
  width: 75px;
  margin: 0 10px;
}
.ts-account-badges-active-area .ts-account-badges-icon {
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  position: relative;
  top: calc(50% - 25px);
}
.ts-account-badges-active-area.fake-backing {
  position: absolute;
  z-index: 0;
  --tsv-icon-channel-bg: var(--tsv-bg);
  --tsv-icon-channel-shade1: var(--tsv-bg);
  --tsv-icon-channel-shade2: var(--tsv-bg);
  --tsv-icon-channel-shade3: var(--tsv-bg);
}
.ts-account-badges-active-area.fake-backing .ts-account-badges-icon {
  top: -2px;
  left: -2px;
}
.ts-account-badges-active-area .ts-account-badges-area {
  justify-content: flex-start;
  min-height: 75px;
  border: none;
  padding: 0;
}
.ts-account-badges-active-area-info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  text-align: center;
  color: var(--tsv-tint);
  font-size: var(--tsv-font-size-small);
  margin: var(--tsv-padding-v-small) var(--tsv-padding-h-small);
  z-index: 0;
}
.ts-account-badges-area {
  min-height: calc(var(--tsv-icon-size-large) + var(--tsv-padding-v) + var(--tsv-padding-v) + 8px);
  min-width: calc(var(--tsv-icon-size-large) + var(--tsv-padding-h));
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px dashed transparent;
  padding: var(--tsv-padding-v) var(--tsv-padding-h);
}
.ts-account-badges-area.blurred {
  filter: blur(5px);
}
.ts-account-badges-area.available-slot {
  border: 2px dashed var(--tsv-tint);
  border-radius: 3px;
}
.ts-account-badges-area .ts-account-badges-empty {
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.ts-account-badges-area .ts-account-badges-empty span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.ts-account-badges-separator {
  display: inline-block;
  height: var(--tsv-bar-element-height);
  width: 2px;
  border-radius: 1px;
  background: var(--tsv-tint);
}
.ts-account-badges-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ts-account-settings-your-server.small {
  flex-direction: column;
}
.ts-account-settings-your-server.small .ts-account-settings-your-server-buttons {
  margin-top: var(--tsv-padding-v-large);
}
.ts-account-settings-your-server-initial-info {
  font-size: 0.9em;
  padding-left: var(--tsv-padding-h-small);
}
.ts-account-settings-your-server-initial-info ul {
  margin-top: var(--tsv-padding-v);
}
.ts-account-settings-your-server-initial-info svg {
  display: inline-block;
  position: relative;
  top: 3px;
}
.ts-account-settings-your-server-not-available {
  width: 200px;
}
.ts-account-settings-your-server-buttons.disabled div {
  font-size: 0.8em;
  color: var(--tsv-font-subtitle-color);
  text-align: center;
  margin-top: var(--tsv-padding-v);
}
.ts-account-settings-your-server-loader {
  margin-right: var(--tsv-padding-h);
}
.ts-account-settings-your-server-loader .ts-loader {
  width: 50px;
  height: 50px;
}
.ts-account-settings-your-server-entrypoint {
  height: var(--tsv-row-height);
  padding-right: 0 !important;
  padding-left: var(--tsv-padding-h-small) !important;
  margin-top: var(--tsv-padding-v-large);
  cursor: pointer;
}
.ts-account-settings-your-server-entrypoint .tsv-item-highlight {
  left: 0;
  right: 0;
}
.ts-account-settings-your-server-entrypoint div {
  flex: 1 1 auto;
}
.ts-account-settings-your-server-entrypoint .ts-btn {
  width: fit-content;
  margin-top: 0;
  margin-bottom: 0;
}
.ts-account-settings-your-server-pseudo-connect {
  height: var(--tsv-row-height);
  padding-right: 0 !important;
  padding-left: var(--tsv-padding-h-small) !important;
  margin-top: var(--tsv-padding-v-large);
}
.ts-account-settings-badges-nologin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--tsv-padding-v-large);
}
.ts-account-settings-badges-nologin div {
  font-size: 0.8em;
  color: var(--tsv-font-subtitle-color);
  text-align: center;
  margin-top: var(--tsv-padding-v-small);
}
.ts-account-settings-recovery-key-card {
  border-color: var(--ts-chat-system-secured-text-color) !important;
}
.ts-account-settings-recovery-key-card .ts-account-settings-recovery-key-title {
  color: var(--ts-chat-system-secured-text-color) !important;
}
.ts-account-settings-recovery-key-card .ts-account-settings-recovery-key-actual {
  margin-bottom: var(--tsv-padding-v-large);
  font-size: 1.3em;
  text-align: center;
  user-select: text;
}
.ts-account-settings-recovery-key-description {
  font-size: var(--tsv-font-size-small);
  color: var(--tsv-font-subtitle-color);
}
.ts-account-settings-account-error-card {
  border-color: var(--tsv-error-color) !important;
}
.ts-account-settings-account-error-card .ts-account-settings-account-error-title {
  color: var(--tsv-error-color) !important;
}
.ts-account-settings-account-error-card .ts-account-settings-account-error-input {
  margin: var(--tsv-padding-v) 0;
}
.ts-account-settings-account-error-card .ts-account-settings-account-errorx2 {
  font-size: 0.8em;
  color: var(--tsv-error-light-color);
  margin-top: var(--tsv-padding-v);
  display: block;
}
.ts-account-settings-account-error-card .ts-account-settings-account-error-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.ts-account-settings-account-error-card .ts-account-settings-account-error-buttons button {
  margin-left: var(--tsv-padding-h-small);
}
.ts-account-loading-indicator {
  height: 5.3em;
}



/*# sourceMappingURL=10.css.map*/