.ts-audio-device-selector {
  margin: var(--tsv-padding-v) 0;
}
.ts-strikethrough {
  text-decoration: line-through;
}


.master-fader[data-v-7a1413a4] {
  -webkit-app-region: no-drag;
}


.ts-settings-audio-test-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.ts-settings-audio-test-buttons .record-button {
  color: var(--tsv-error-color);
}
.ts-settings-audio-test-buttons .record-button:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: var(--tsv-error-color);
  margin-right: var(--tsv-padding-h-small);
  opacity: 0.5;
}
.ts-settings-audio-test-buttons .record-button.active:before {
  opacity: 1;
  animation: ts-audio-test-record-pulse 2s infinite;
}
.ts-settings-audio-test-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: var(--tsv-padding-v-large);
}
.ts-settings-audio-test-position span {
  flex-grow: 0;
}
.ts-settings-audio-test-position .ts-slider {
  margin: 0 var(--tsv-padding-h);
  pointer-events: none;
}
.ts-settings-audio-test-position .ts-slider .ts-slider-knob {
  display: none;
}
@-webkit-keyframes ts-audio-test-record-pulse {
0% {
    -webkit-box-shadow: 0 0 0 0 var(--tsv-error-color);
}
70% {
    -webkit-box-shadow: 0 0 0 5px transparent;
}
100% {
    -webkit-box-shadow: 0 0 0 0 transparent;
}
}


.ts-keybinds-hotkeys-entry {
  display: flex;
  min-height: var(--tsv-row-height);
  flex-wrap: wrap;
}
.ts-keybinds-hotkeys-entry .tsv-button {
  font-size: var(--tsv-font-size-small);
}
.ts-keyginds-btn {
  width: 1em;
}
.ts-keybinds-select {
  background: transparent;
  color: var(--tsv-tint2);
  font-size: var(--tsv-font-size-minimal);
  border-radius: var(--tsv-border-radius);
  border: 1px solid transparent;
  width: 80px;
  outline: none;
}
.ts-keybinds-select:hover {
  border: 1px solid var(--tsv-tint2);
}
.ts-keybinds-hotkeys-entry-descriptor {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: var(--tsv-font-size);
  color: var(--tsv-font-color);
  min-width: 0;
  min-height: var(--tsv-row-height);
}
.ts-keybinds-hotkeys-entry-name {
  padding-right: var(--tsv-padding-h-small);
  min-width: 100px;
}
.ts-keybinds-hotkeys-entry-value {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  color: var(--tsv-font-subtitle-color);
  font-size: var(--tsv-font-size-small);
  min-height: var(--tsv-row-height);
  min-width: 100px;
}
.ts-keybinds-hotkeys-entry-value span {
  margin-right: var(--tsv-padding-h-minimal);
}
.ts-keybind-hotkeys-entry-actions {
  min-width: var(--tsv-icon-size);
}
.ts-keybinds-hotkeys-entry-additional .ts-keybinds-hotkeys-entry-descriptor {
  --tsv-icon-base: var(--tsv-font-subtitle-color);
  font-size: var(--tsv-font-size-small);
  color: var(--tsv-font-subtitle-color);
}
.ts-keybinds-hotkeys-entry-recording .tsv-item-highlight {
  display: block;
  box-shadow: 0 0 0 2px var(--tsv-tint);
}
.ts-keybinds-hotkeys-entry-recording .ts-keybinds-select {
  pointer-events: none;
}
.ts-keybinds-hidden-input {
  opacity: 0;
  position: absolute;
}
.ts-keybinds-hotkeys-key {
  word-spacing: -0.1337em;
}
.ts-keybinds-press-any-key,
.ts-keybinds-empty {
  color: var(--tsv-font-subtitle-color);
  font-size: var(--tsv-font-size-minimal);
}
.ts-keybinds-press-any-key {
  color: var(--tsv-tint);
}
.ts-keybinds-profile-label {
  color: var(--tsv-font-subtitle-color);
  font-size: var(--tsv-font-size-small);
}


.ts-audio-settings>div {
  width: 100%;
}
.ts-audio-settings .ts-toggle-wrapper {
  margin-top: 0.5em;
}
.ts-vad-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ts-vad-header .ts-vad-label {
  padding-left: var(--tsv-padding-h-small);
}
.ts-vadmode-container {
  display: flex;
  align-items: center;
}
.ts-vadmode-select {
  background: transparent;
  color: var(--tsv-tint2);
  font-size: var(--tsv-font-size-minimal);
  border-radius: var(--tsv-border-radius);
  border: 1px solid transparent;
  width: 100px;
  outline: none;
}
.ts-vadmode-select:hover {
  border: 1px solid var(--tsv-tint2);
}
.ts-vad-bar-overlay {
  background-color: var(--tsv-slider-vad-color);
  border-radius: var(--tsv-border-radius);
  transition: width 0.075s ease-in-out;
}
.ts-audio-slider-block {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.ts-audio-ptt-editor {
  margin-bottom: var(--tsv-padding-h) !important;
}
.ts-audio-ptt-editor .ts-card {
  margin: 0;
  background-color: var(--tsv-bg);
}
.ts-audio-ptt-editor .tsv-item-highlight {
  background: var(--tsv-shaded-bg);
}
@keyframes quickFlash {
0% {
    background-color: inherit;
}
30% {
    background-color: #bbf0ff;
    opacity: 1;
}
100% {
    background-color: inherit;
}
}
.tsquickflash-enter-active {
  animation-name: quickFlash;
  animation-duration: 600ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0.01;
}
.ts-audio-section-header {
  display: flex;
  align-items: flex-end;
}
.ts-audio-talk-status {
  margin-right: var(--tsv-padding-h-small);
}



/*# sourceMappingURL=12.css.map*/