.tsv-segmented-control {
  display: inline-flex;
  justify-content: space-between;
  height: 22px;
  border-radius: var(--tsv-border-radius);
  color: var(--tsv-tint);
  margin: 0 auto;
  text-align: center;
}
.tsv-segmented-control .tsv-segmented-button {
  background: transparent;
  border: none;
  border-top: 2px solid var(--tsv-tint);
  border-right: 1px solid var(--tsv-tint);
  border-left: 1px solid var(--tsv-tint);
  border-bottom: 2px solid var(--tsv-tint);
  color: var(--tsv-tint);
  padding: 0px var(--tsv-border-radius);
  font-size: 10pt;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tsv-segmented-control .tsv-segmented-button:first-child {
  border-left: 2px solid var(--tsv-tint);
  border-top-left-radius: var(--tsv-border-radius);
  border-bottom-left-radius: var(--tsv-border-radius);
}
.tsv-segmented-control .tsv-segmented-button:last-child {
  border-right: 2px solid var(--tsv-tint);
  border-top-right-radius: var(--tsv-border-radius);
  border-bottom-right-radius: var(--tsv-border-radius);
}
.tsv-segmented-control .tsv-segmented-button .tsv-title-with-image {
  padding-left: var(--tsv-padding-h-minimal);
}
.tsv-bar .tsv-segmented-control {
  background: var(--tsv-bg);
}
.tsv-bar .tsv-segmented-control .tsv-segmented-button {
  color: var(--tsv-font-color);
}
.tsv-bar .tsv-segmented-control .tsv-segmented-button {
  border: none;
}
.tsv-segmented-button.tsv-segment-control-reveal {
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
}


.tsv-notifications-content-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: var(--tsv-padding-v) 0;
}
.tsv-notifications-content-item:hover .tsv-segmented-control {
  background: var(--tsv-shaded-bg);
}
.tsv-notifications-content-item .tsv-notifications-content-item-disabled {
  color: var(--tsv-font-subtitle-color);
}
.tsv-notifications-content-item .ts-notifications-content-item-subtitle {
  color: var(--tsv-font-subtitle-color);
  font-size: 0.8em;
}
.ts-notifications-content-item-button {
  margin-top: var(--tsv-padding-v-minimal);
  cursor: pointer;
}
.ts-notifications-content-item-button span {
  margin-left: var(--tsv-padding-h-small);
  color: var(--tsv-tint2);
  font-size: 0.9em;
}
.ts-notifications-content-item-button:hover {
  opacity: 0.5;
}


.ts-audio-device-selector {
  margin: var(--tsv-padding-v) 0;
}
.ts-strikethrough {
  text-decoration: line-through;
}


.master-fader[data-v-7a1413a4] {
  -webkit-app-region: no-drag;
}


.ts-notifications-root .ts-card-top-button {
  top: var(--tsv-padding-v);
  right: var(--tsv-padding-h-small);
}
.ts-notifications-item .tsv-item.tsv-no-padding {
  padding-left: var(--tsv-padding-h-small);
  padding-right: var(--tsv-padding-h-small);
}
.ts-notifications-item .tsv-item.tsv-no-padding .tsv-item-highlight {
  left: 0;
  right: 0;
}
.ts-notifications-item .tsv-item.tsv-inset-right {
  padding-left: var(--tsv-padding-h-large);
  padding-right: var(--tsv-padding-h-small);
}
.ts-notifications-item .tsv-item.tsv-inset-right .tsv-item-highlight {
  left: 30px;
  right: 0;
}



/*# sourceMappingURL=13.css.map*/