
.file-select > span[data-v-1f8b0605] {
  user-select: none;
}
.file-select > input[type="file"][data-v-1f8b0605] {
  display: none;
}


.ts-security-level-header,
.ts-security-level-header-controls {
  display: flex;
  align-items: center;
}
.ts-security-level-header {
  flex-wrap: wrap;
  min-height: var(--tsv-bar-element-height);
}
.ts-security-level-header-controls {
  justify-content: flex-end;
  flex-grow: 1;
}
.ts-request-identity-quality {
  max-width: 50px;
}
.ts-security-level-current {
  display: grid;
}
.ts-security-level-current span {
  grid-column: 1;
  grid-row: 1;
}
.ts-security-improve-button {
  min-width: 60px;
}
.ts-security-level-label {
  font-size: var(--tsv-font-size-small);
  color: var(--tsv-font-subtitle-color);
}
.ts-security-level-improve-symbol {
  --tsv-icon-tint2: var(--tsv-font-subtitle-color);
}
.ts-security-level-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
progress[value]::-webkit-progress-value::before {
  content: attr(beforeprogress);
  position: absolute;
  right: 0;
  top: -125%;
}


.ts-security-level h2,
.ts-identities-root h2 {
  font-size: var(--tsv-font-size);
  margin: 0 !important;
  padding: 0;
}
.spacer-horizontal {
  width: 10px;
}
.ts-flex-grow {
  flex-grow: 1;
}
.ts-security-level {
  justify-content: space-between;
}
.ts-identity-select-label {
  color: var(--tsv-font-subtitle-color);
  font-size: var(--tsv-font-size-small);
}
.tsv-settings-identities-card h6:first-child {
  margin-bottom: var(--tsv-padding-v-small);
}
.tsv-settings-identities-card .tsv-settings-identities-card-inner {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--tsv-padding-v-small);
}
.tsv-settings-identities-card .tsv-settings-identities-card-inner .ts-btn svg {
  margin-right: 0;
}
.ts-identity-nickname {
  margin-bottom: var(--tsv-padding-v);
}
.ts-identity-nickname label {
  font-size: var(--tsv-font-size);
  font-weight: 200;
}
.ts-identity-nickname input {
  text-align: right;
}
.ts-identity-nickname .ts-text-input-as-text {
  flex-grow: 1;
}
.ts-security-level-header {
  margin-top: var(--tsv-padding-v);
}
.ts-unique-id-header {
  margin: var(--tsv-padding-v) 0;
  margin-top: var(--tsv-padding-v-large);
}
.ts-bookmarks-header {
  margin-top: 0;
}
.ts-identity-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ts-identity-uniqueid {
  user-select: text;
  color: var(--tsv-font-subtitle-color);
  font-size: var(--tsv-font-size-small);
  font-family: monospace;
  word-break: break-all;
  padding: var(--tsv-padding-v-minimal) var(--tsv-padding-h-minimal);
}
.ts-identity-bookmark-container {
  flex-wrap: wrap;
  justify-content: flex-end;
}
.ts-identity-bookmark {
  font-size: var(--tsv-font-size-small);
  color: var(--tsv-font-subtitle-color);
  background: var(--tsv-contrast-bg);
  border-radius: var(--tsv-border-radius);
  padding: 0 var(--tsv-padding-h-minimal);
  margin: var(--tsv-padding-v-minimal) calc(0.5 * var(--tsv-padding-h-minimal));
}
.ts-identity-bookmark-explicit {
  color: var(--tsv-tint);
}
.ts-identity-no-bookmarks {
  color: var(--tsv-font-subtitle-color);
  font-size: var(--tsv-font-size-small);
}
.tsv-description {
  margin: 0 var(--tsv-padding-h-small);
  color: var(--tsv-font-subtitle-color);
  font-size: var(--tsv-font-size-small);
}



/*# sourceMappingURL=14.css.map*/