.ts-badges-info-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 20%;
  margin: 0.75rem;
}
.ts-badges-info-container span {
  font-size: 0.8em;
  text-align: center;
  color: var(--tsv-font-subtitle-color);
  margin-top: var(--tsv-padding-v-small);
}
.ts-badges-info-container img,
.ts-badges-info-container svg {
  margin: 0 auto;
}


.expandable-input {
  min-height: 1rem;
  height: auto;
  min-width: 40px;
  width: 100%;
}
.expandable-input.editing {
  outline: none;
  width: calc(100% - 30px);
}
.expandable-input.placeholder {
  color: var(--tsv-font-subtitle-color);
}
.ts-textarea-edit-button {
  position: absolute;
  bottom: 3px;
  right: 8px;
}
.ts-textarea-inner {
  width: 100%;
  min-height: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: transparent solid 2px;
  border-radius: var(--tsv-border-radius);
  user-select: text;
  position: relative;
}
.ts-textarea-inner.padding {
  padding: var(--tsv-padding-v-small) var(--tsv-padding-h-small);
}
.ts-textarea-inner.editing {
  border: var(--tsv-tint) solid 2px !important;
}
.ts-textarea-inner.allowEdit:hover {
  border: var(--tsv-tint) dashed 2px;
}
.ts-textarea-inner .ts-textarea-input-region {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none !important;
  resize: none;
  width: 100%;
  color: var(--tsv-font-color);
}


.ts-info-edit-client {
  contain: layout size;
  height: 100%;
}
.ts-info-edit-client>div:first-child {
  height: 100%;
  min-height: 0;
  overflow-y: auto;
}
.ts-info-edit-client .server-group-icon {
  margin-right: 1rem;
}
.ts-info-edit-client .ts-list-entry {
  padding: 0.5rem 1rem;
  margin: 0.125rem 0;
  min-height: 3rem;
}
.ts-info-edit-client .ts-list-entry:hover {
  background-color: var(--tsv-shaded-item-selection);
  border-radius: var(--tsv-border-radius);
}
.ts-info-edit-client .ts-list-entry:hover .ts-reveal {
  visibility: visible;
}
.ts-info-edit-client .ts-info-edit-client-row-indent {
  margin-left: 1rem;
}
.ts-info-edit-client .ts-info-edit-client-row-indent .ts-info-edit-client-error-msg {
  color: red;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin-left: 0.6rem;
}
.ts-info-edit-client .ts-info-edit-client-section-header {
  color: white;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  margin-left: 1rem;
}
.ts-info-edit-client .ts-info-edit-client-action {
  margin-top: 0.5rem;
}
.ts-info-edit-client .ts-info-edit-client-info {
  margin-top: 0.5rem;
  color: lightgreen;
}
.ts-info-edit-client .ts-info-edit-client-actions-footer {
  position: relative;
  height: var(--ts-server-status-bar-height);
  min-height: var(--ts-server-status-bar-height);
  max-height: var(--ts-server-status-bar-height);
  background-color: var(--ts-chat-background-color);
  width: 100%;
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
}
.ts-info-edit-client .ts-info-edit-client-actions-footer:before {
  position: absolute;
  left: 10%;
  content: '';
  width: 80%;
  height: 1px;
  background: rgba(29,29,29,0.5);
  top: 0px;
}
.tsv-client-badge-showcase .ts-badges {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tsv-client-badge-showcase .ts-badges>img {
  margin: 0.75rem;
}
.tsv-client-badge-showcase .tsv-client-badge-showcase-edit {
  font-size: 0.9rem;
  color: var(--tsv-font-subtitle-color);
  padding: var(--tsv-padding-v);
  text-align: center;
}
.tsv-client-info-contact-management {
  padding: var(--tsv-padding-v);
  text-align: center;
  color: var(--tsv-font-subtitle-color);
  font-size: var(--tsv-font-size-small);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tsv-client-info-contact-management .ts-btn {
  margin: 0 auto;
}
.tsv-client-info-contact-management .tsv-client-info-contact-management-icon {
  margin-right: var(--tsv-padding-h-small);
  --tsv-icon-base: var(--tsv-font-subtitle-color);
  position: relative;
}
.tsv-client-info-contact-management.column {
  flex-direction: column;
}
.tsv-client-info-contact-management .ts-info-edit-client-error-msg {
  font-size: 0.9rem;
  color: var(--tsv-error-color);
  margin-top: var(--tsv-padding-v-small);
}
.tsv-client-myts-info-fallback {
  font-size: 0.9rem;
  color: var(--tsv-font-subtitle-color);
  padding: var(--tsv-padding-v);
  text-align: center;
}
.tsv-client-info-groups-container {
  padding: var(--tsv-padding-v) 0;
}
.tsv-client-info-groups-container h6 {
  padding-left: var(--tsv-padding-h-small);
}
.tsv-client-info-groups .server-group-icon {
  margin-right: 1rem;
}
.tsv-client-info-groups .tsv-client-info-group-entry {
  padding: 0.5rem 1rem;
  margin: 0.125rem 0;
  min-height: 3rem;
}
.tsv-client-info-groups .tsv-client-info-group-entry:hover {
  background-color: var(--tsv-shaded-item-selection);
  border-radius: var(--tsv-border-radius);
}
.tsv-client-info-groups .tsv-client-info-group-entry:hover .ts-reveal {
  visibility: visible;
}
.tsv-client-avatar-banner {
  min-height: 80px;
  width: 100%;
  opacity: 0.5;
  filter: blur(15px);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}



/*# sourceMappingURL=15.css.map*/