.ts-contact {
  min-height: 2.15em;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.ts-contact .ts-contact-icon {
  min-width: 2rem;
  max-width: 2rem;
  min-height: 2rem;
  max-height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.4em;
}
.ts-contact .ts-contact-name-message {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-x: hidden;
}
.ts-contact .ts-contact-name-message .ts-contact-name {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ts-contact .ts-contact-name-message .ts-contact-message {
  font-size: var(--ts-font-size-caption);
  color: var(--ts-secondary-font-color);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.ts-contact .ts-contact-accept-reject {
  flex: 0 0 auto;
  display: flex;
}
.ts-contact .ts-contact-accept-reject .ts-contact-accept-reject-button {
  min-width: 24px;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.ts-contact .ts-contact-accept-reject .ts-contact-accept-reject-button:hover {
  background: var(--ts-sidebar-background);
}
.ts-contact .ts-contact-accept-reject .ts-contact-accept-button g {
  transform: translate(-2px, 1px);
}
.ts-contact.pending-contact {
  color: var(--ts-secondary-font-color);
}


.tsv-messenger-create-group-contacts .ts-text-input-as-text {
  margin: var(--tsv-padding-v) var(--tsv-padding-h-small) calc(var(--tsv-padding-v) * 2) var(--tsv-padding-h-small);
}
.tsv-messenger-create-group-contacts .ts-text-input-as-text .ts-input {
  color: var(--tsv-font-color);
  --tsv-font-subtitle-color: var(--tsv-font-color);
  padding: var(--tsv-padding-v-small) var(--tsv-padding-h-small);
  background: var(--tsv-server-info-topic-bg);
}


.tsv-server-info-card[data-v-79ea0c14] {
  margin: var(--tsv-padding-v) var(--tsv-padding-h-small) 0 var(--tsv-padding-h-small);
  width: calc(100% - var(--tsv-padding-h-small) - var(--tsv-padding-h-small));
}
.ts-create-group-chat-button-pocket[data-v-79ea0c14] {
  width: 100%;
}
.ts-create-group-chat-button-pocket.sticky[data-v-79ea0c14] {
  position: relative;
}
.ts-create-group-chat-button-pocket.sticky[data-v-79ea0c14]::before {
  content: ' ';
  width: 100%;
  height: 10px;
  position: absolute;
  display: block;
  top: -10px;
  background: linear-gradient(to bottom, transparent 0%, var(--tsv-shadow-color) 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, #000 var(--tsv-padding-h-large), #000 calc(100% - var(--tsv-padding-h-large)), transparent 100%);
}
.ts-create-group-chat-button-pocket .ts-btn[data-v-79ea0c14] {
  margin: var(--tsv-padding-v-large) auto;
}
.tsv-messenger-create-group[data-v-79ea0c14] {
  height: 100%;
}
.tsv-messenger-create-group-contacts ul[data-v-79ea0c14] {
  margin: 0;
}
.tsv-messenger-create-group-contacts .tsv-item[data-v-79ea0c14] {
  padding-left: var(--tsv-padding-h-small);
  padding-right: var(--tsv-padding-h-small);
}



/*# sourceMappingURL=16.css.map*/