.ts-chat-message-attachment-server-invite {
  width: 100%;
  position: relative;
}
.ts-chat-message-attachment-server-invite .tsv-server-info-default-banner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.ts-chat-message-attachment-server-invite .ts-chat-message-attachment-server-invite-details {
  min-width: 260px;
  min-height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  position: relative;
  padding: 0 var(--tsv-padding-h);
}
.ts-chat-message-attachment-server-invite .ts-chat-message-attachment-server-invite-details .tsv-icon {
  margin-right: var(--tsv-padding-h-small);
}
.ts-chat-message-attachment-server-invite .ts-chat-message-attachment-server-invite-details .ts-chat-message-attachment-server-invite-details-name {
  background-color: var(--tsv-server-info-topic-bg);
  color: var(--tsv-font-color);
  border-radius: 5px;
  padding: var(--tsv-padding-v-small) var(--tsv-padding-h-small);
  margin-right: var(--tsv-padding-h);
  flex: 1 1 auto;
  overflow: hidden;
}
.ts-chat-message-attachment-server-invite .ts-chat-message-attachment-server-invite-details .ts-chat-message-attachment-server-invite-details-name p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.ts-chat-message-attachment-server-invite .ts-chat-message-attachment-server-invite-details .ts-chat-message-attachment-server-invite-details-name p span {
  color: var(--tsv-font-subtitle-color);
  display: inline-block;
  position: relative;
  top: -0.75px;
}
.ts-chat-message-attachment-server-invite .ts-chat-message-attachment-server-invite-details .ts-chat-message-attachment-server-invite-details-name p span .tsv-icon {
  display: inline-block;
  border-radius: 0px;
  margin-right: 0;
}
.ts-chat-message-attachment-server-invite .ts-chat-message-attachment-server-invite-details .ts-chat-message-attachment-server-invite-details-subtitle {
  font-size: 0.7rem;
  color: var(--tsv-font-subtitle-color);
}


.ts-chat-message-attachments {
  display: flex;
  flex-direction: column;
  padding-right: 4px;
  width: 100%;
}
.ts-chat-message-attachments>* {
  margin-top: 6px;
}
.ts-attachment-video-content {
  position: relative;
}
.ts-attachment-video-content>img {
  filter: blur(2px);
  overflow: hidden;
}
.ts-attachment-video-content-wrapper {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
}
.ts-attachment-video-actions {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: none;
}
.ts-attachment-video-actions-inner {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 0.75rem;
  background-color: rgba(4,4,4,0.6);
  border-radius: 0.75rem;
}
.ts-attachment-video-actions-inner>* {
  width: 2rem;
  height: 2rem;
  pointer-events: auto;
  color: white;
  opacity: 0.7;
  margin-right: 0.25rem;
}
.ts-attachment-video-actions-inner>*:hover {
  opacity: 0.9;
}
.ts-attachment-video-actions-inner>*:last-child {
  margin-right: 0;
  margin-left: 0.25rem;
}
.ts-chat-message-attachment-file *:first-child {
  border-radius: var(--tsv-border-radius-big);
}
.ts-chat-message-attachment {
  display: flex;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner {
  background: var(--tsv-contrast-bg);
  border-radius: var(--tsv-border-radius-big);
  border: 1px solid;
  border-color: var(--tsv-separation-border-color) !important;
  overflow: hidden;
  max-width: 425px;
  max-height: 425px;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner.transparent {
  border: none;
  background: transparent;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-link {
  padding: 0.1em 0;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-link>a {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-decoration: none;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-link>a:hover {
  text-decoration: underline;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-header {
  padding: 0.5em 0.5em 0em 0.5em;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-header-provider {
  font-size: 0.8em;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-header-provider>a {
  color: #87909c;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-header-author>a {
  color: #eee;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-attachment-instagram-wrapper {
  text-align: center;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-integration {
  position: relative;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-attachment-buttons-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-attachment-buttons-wrapper .ts-btn {
  width: 25%;
  margin: 0 10px 0 0;
  flex-grow: 0;
  font-size: 16px;
  display: inline-block;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-generic-file {
  background: var(--tsv-shaded-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: var(--tsv-border-radius-big);
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-generic-file * {
  margin: 0 auto;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-generic-file div {
  color: var(--tsv-contrast-font-color);
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-generic-file p {
  padding: 20px 10px 10px 10px;
  width: 100%;
  text-align: center;
  margin: 0;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-oversized-file {
  background: var(--tsv-shaded-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--tsv-border-radius-big);
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-oversized-file * {
  margin: 0 auto;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-oversized-file p {
  padding: 20px 10px 10px 10px;
  width: 100%;
  text-align: center;
  margin: 0;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-ts3-file-transfer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 var(--tsv-padding-h);
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-ts3-file-transfer .ts-slider {
  pointer-events: none;
  width: 100%;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-ts3-file-transfer .ts-slider .ts-slider-knob {
  display: none;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-ts3-file-transfer a {
  margin-top: var(--tsv-padding-v);
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-file-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8em;
  padding: 2px 8px 0 8px;
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-file-footer span {
  color: var(--tsv-font-subtitle-color);
}
.ts-chat-message-attachment .ts-chat-message-attachment-inner .ts-chat-message-attachment-file-footer a {
  cursor: pointer;
}
.ts-chat-message-attachment.system .ts-chat-message-attachment-inner {
  background-color: transparent;
  padding: 8px 0px;
}


.ts-chat-message-status-icon {
  height: 100%;
}


.ts-chat-autocomplete {
  cursor: default;
  width: 100%;
  padding: 10px 10px;
  max-height: 300px;
  overflow: scroll;
  padding: 0;
  margin: 0;
  border-bottom: 1px !important;
}
.ts-chat-autocomplete.closed {
  display: none;
}


.ts-chat-message-system-body {
  background: var(--darkgrey) !important;
  background: var(--darkgrey) !important;
  --darkgrey: #1e1e1f !important;
  margin: 10px 10px 0px 10px;
  border-radius: 5px;
  width: 100%;
  display: flex;
}
.ts-chat-message-system-body.compact {
  margin: var(--tsv-padding-v-small) 10px 0px 10px;
}
.ts-chat-message-system-body.text-only-layout {
  margin: 5px 0px 10px 0px;
  background: transparent;
}
.ts-chat-message-system-body.text-only-layout.compact {
  width: 100%;
}
.ts-chat-message-system-body.text-only-layout.compact .ts-chat-message-system-body-contents {
  margin-left: 75px;
}
.ts-chat-message-system-body.text-only-layout .ts-chat-message-system-body-icon {
  width: 0px;
}
.ts-chat-message-system-body.text-only-layout .ts-chat-message-system-body-contents {
  color: var(--ts-chat-system-highlight-text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ts-chat-message-system-body.text-only-layout .ts-chat-message-system-body-contents .ts-chat-message-system {
  position: relative;
  top: -1px;
}
.ts-chat-message-system-body.text-only-layout .ts-chat-message-system-body-contents:before {
  content: '';
  width: 45px;
  height: 1px;
  background: var(--ts-chat-system-highlight-text-color);
  margin-right: var(--tsv-padding-h-small);
  position: relative;
  display: block;
}
.ts-chat-message-system-body.text-only-layout .ts-chat-message-system-body-contents:after {
  content: '';
  width: 45px;
  height: 1px;
  background: var(--ts-chat-system-highlight-text-color);
  margin-left: var(--tsv-padding-h-small);
  position: relative;
  display: block;
}
.ts-chat-message-system-body .ts-chat-message-system-body-icon {
  width: 45px;
  -webkit-mask-image: linear-gradient(90deg, #000 0%, rgba(0,0,0,0) 90%);
}
.ts-chat-message-system-body .ts-chat-message-system-body-icon svg {
  width: initial !important;
  min-width: initial !important;
  height: 26px;
  display: block;
  margin: 0;
  padding: 0;
  fill: var(--ts-chat-system-secured-text-color);
}
.ts-chat-message-system-body .ts-chat-message-system-body-contents {
  flex: 1 0 50%;
  margin: 2px 5px 2px 10px;
  font-size: 1.4em;
  line-height: 0.8em;
  color: var(--ts-chat-system-message-text-color);
}
.ts-chat-message-system-body .ts-chat-message-system-time {
  color: var(--ts-chat-system-message-text-color);
  margin-top: 8px;
  margin-right: 14px;
  margin-left: var(--tsv-padding-h-minimal);
}
.ts-chat-message-system-body .ts-chat-message-system-time.compact {
  margin-right: 24px;
}
.ts-chat-message-system-body.server-chat .ts-chat-message-system-body-contents.ts-message-system-chat-header {
  color: var(--white) !important;
  --white: rgb(255,255,255) !important;
}
.ts-chat-message-system-body.server-chat .ts-chat-message-system-body-icon svg {
  fill: var(--white) !important;
  --white: rgb(255,255,255) !important;
  display: none !important;
}
.ts-chat-message-system-body .ts-chat-message-system-body-contents.ts-message-system-chat-header {
  color: var(--darkgrey) !important;
  --darkgrey: #1e1e1f !important;
}


.ts-autocomplete-filter {
  color: var(--tsv-font-subtitle-color);
  padding: 0 var(--tsv-padding-h-small);
}
.ts-autocomplete-filter span {
  color: var(--tsv-font-color);
}
.ts-emoji-autocomplete-item {
  cursor: pointer;
}
.ts-emoji-autocomplete-item .ts-chat-message-content-emoji {
  width: 18px;
  height: 18px;
  margin: auto 8px;
}
.ts-emoji-autocomplete-item.selected {
  background-color: var(--tsv-shaded-item-selection);
  border-radius: var(--tsv-border-radius);
}
.tsv-activity-secondary .ts-emoji-autocomplete-item.selected {
  background-color: var(--tsv-shaded-bg);
}
.ts-autocomplete-list {
  padding: 0.25em 0 0 0;
}
.ts-autocomplete-list .tsv-item {
  padding: 0;
}


.ts-user-autocomplete-item {
  cursor: pointer;
  padding: 0 var(--tsv-padding-h-small) !important;
}
.ts-user-autocomplete-item.selected {
  background-color: var(--tsv-shaded-item-selection);
  border-radius: var(--tsv-border-radius);
}
.tsv-activity-secondary .ts-user-autocomplete-item.selected {
  background-color: var(--tsv-shaded-bg);
}


.ts-chat-input-file-preview[data-v-66e58913] {
  min-width: 150px;
  width: 150px;
  min-height: 150px;
  height: 150px;
  margin-right: 5px;
  background-color: var(--tsv-shaded-bg);
  display: inline-block;
  position: relative;
  border-radius: var(--tsv-border-radius-big);
  border: var(--tsv-separation-border);
}
.ts-chat-input-file-preview .ts-chat-input-file-preview-closebox[data-v-66e58913] {
  position: absolute;
  pointer-events: initial;
  top: calc(var(--tsv-padding-h-small)/2);
  right: calc(var(--tsv-padding-h-small)/2);
}
.ts-chat-input-file-preview-platter[data-v-66e58913] {
  background: var(--tsv-bg);
  color: var(--tsv-font-color);
  border-radius: var(--tsv-border-radius-big);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.ts-chat-input-file-preview-platter .ts-chat-input-file-preview-platter-inner.generic[data-v-66e58913] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.ts-chat-input-file-preview-platter .ts-chat-input-file-preview-platter-inner.generic .ts-chat-input-file-preview-platter-icon[data-v-66e58913] {
  width: 50%;
  height: 50%;
}
.ts-chat-input-file-preview-platter .ts-chat-input-file-preview-platter-inner.generic *[data-v-66e58913] {
  margin: 0 auto;
}
.ts-chat-input-file-preview-platter .ts-chat-input-file-preview-platter-inner.generic div[data-v-66e58913] {
  margin: 5% 1% 1% 1%;
  font-size: 0.92rem;
  opacity: 0.8;
  text-align: center;
  max-height: 40%;
  overflow: hidden;
}
.ts-chat-input-file-preview-platter .ts-chat-input-file-preview-platter-inner.image[data-v-66e58913] {
  height: 100%;
  width: 100%;
  filter: brightness(0.65);
}
.ts-chat-input-file-preview-platter .ts-chat-input-file-preview-platter-inner.image img[data-v-66e58913] {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.ts-chat-input-file-preview-platter .ts-chat-input-file-preview-platter-inner.integration[data-v-66e58913] {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
}
.ts-chat-input-file-preview-platter .ts-chat-input-file-preview-platter-inner.integration img[data-v-66e58913] {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.ts-chat-input-file-preview-status[data-v-66e58913] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--tsv-bg);
  border-radius: var(--tsv-border-radius-big);
  opacity: 0.9;
  pointer-events: none;
}
.ts-chat-input-file-preview-status .ts-chat-input-file-preview-status-loader[data-v-66e58913] {
  width: 60%;
  height: 60%;
  padding-top: 100%;
}
@media only screen and (max-height: 800px) {
.ts-chat-input-file-preview[data-v-66e58913] {
    min-width: 100px;
    width: 100px;
    min-height: 100px;
    height: 100px;
}
}
@media only screen and (max-height: 600px) {
.ts-chat-input-file-preview[data-v-66e58913] {
    min-width: 75px;
    width: 75px;
    min-height: 75px;
    height: 75px;
}
.ts-chat-input-file-preview-platter-inner.generic div[data-v-66e58913] {
    display: none;
}
}
@media only screen and (max-height: 500px) {
.ts-chat-input-file-preview[data-v-66e58913] {
    min-width: 65px;
    width: 65px;
    min-height: 65px;
    height: 65px;
}
.ts-chat-input-file-preview-platter-inner.generic div[data-v-66e58913] {
    display: none;
}
}


.ts-chat-input-tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 0 1 var(--tsv-bar-height);
  background-color: var(--tsv-contrast-bg);
  padding: 0 6px;
}
.ts-chat-input-tabs .ts-chat-input-tab {
  height: var(--tsv-bar-height);
  width: var(--tsv-bar-height);
  background-color: var(--tsv-contrast-bg);
  position: relative;
}
.ts-chat-input-tabs .ts-chat-input-tab.active {
  background-color: var(--tsv-shaded-bg);
}
.ts-chat-input-tabs .ts-chat-input-tab .tsv-icon,
.ts-chat-input-tabs .ts-chat-input-tab img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 22px;
  height: 22px;
}
.ts-chat-input-integration {
  width: 100%;
  height: 100%;
  padding: 0;
}
.ts-chat-input-integration-container {
  width: 100%;
  height: calc(100% - var(--tsv-bar-height));
  flex: 1 1 auto;
  position: relative;
}
.ts-chat-input-panel {
  width: 100%;
  height: calc(100%);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 6px;
}
.ts-chat-input-top-bar {
  height: var(--tsv-bar-height);
  padding-top: var(--tsv-padding-v-small);
  flex: 0 1 var(--tsv-bar-height);
}
.ts-chat-input-top-bar .ts-text-input-box-inner {
  height: var(--tsv-bar-height);
  padding-top: 3px;
  margin-top: 0;
}
.ts-chat-input-top-bar .tsv-item {
  padding: 0;
  margin: 0;
}
.ts-chat-input-top-bar .tsv-item .tsv-item-content {
  height: var(--tsv-bar-height);
}
.ts-chat-input-top-bar .tsv-item .tsv-item-highlight {
  left: 0;
  top: var(--tsv-padding-v-small);
  right: 0;
  bottom: var(--tsv-padding-v-small);
}
.ts-chat-input-scrollable {
  flex: 1 1 auto;
  overflow-y: scroll;
  margin-top: var(--tsv-padding-v);
  height: calc(100% - var(--tsv-bar-height) - var(--tsv-padding-v) - 2px);
}
.ts-chat-input-panel-header {
  margin: var(--tsv-padding-v) 0;
  padding-left: var(--tsv-padding-v-small);
}
.ts-chat-input-panel-subtitle {
  margin: var(--tsv-padding-v-small) 0;
  padding-left: var(--tsv-padding-v-small);
  font-size: 0.8em;
  color: var(--tsv-font-subtitle-color);
}


.ts-chat-input-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  min-width: calc(100% - var(--tsv-padding-h-small) * 2);
  margin: var(--tsv-padding-h-small);
  border-radius: var(--tsv-border-radius);
  background: var(--tsv-shaded-bg);
  border: var(--tsv-separation-border);
  z-index: 3;
}
.ts-chat-input-container:hover,
.ts-chat-input-container.focus {
  border: var(--tsv-separation-border-width) solid transparent !important;
}
.ts-chat-input-container:hover .ts-chat-input-emoji-picker,
.ts-chat-input-container.focus .ts-chat-input-emoji-picker {
  border: var(--tsv-separation-border-width) solid var(--black) !important;
  --black: #151515 !important;
  border-bottom: 1px solid transparent;
}
.ts-chat-input-container.showEmoji {
  border-top-right-radius: 0px;
}
.ts-chat-input-container.showEmoji .ts-chat-input-container-content {
  border-top-right-radius: 0px;
}
.ts-chat-input-container.ignoreHover {
  border: var(--tsv-separation-border);
}
.ts-chat-input-container.ignoreHover .ts-chat-input-emoji-picker {
  border: var(--tsv-separation-border);
  border-bottom: 1px solid transparent;
}
.ts-chat-input-pending-uploads {
  position: absolute;
  bottom: 100%;
  min-height: 120px;
  width: 100%;
}
.ts-chat-input-emoji-picker {
  position: absolute;
  bottom: 100%;
  right: -1px;
  z-index: 3;
  max-height: 60vh;
  height: 375px;
  width: 375px;
  background: var(--tsv-shaded-bg);
  border: var(--tsv-separation-border);
  border-bottom: 1px solid transparent;
  border-top-right-radius: var(--tsv-border-radius);
  border-top-left-radius: var(--tsv-border-radius);
  padding: 0;
  overflow: hidden;
}
.ts-chat-input-emoji-picker.maxWidth {
  width: calc(100% + 2px);
}
.ts-chat-input-top-section .ts-chat-input-previews {
  padding: 5px 10px 0 10px;
  background-color: transparent;
  border: none;
  display: flex;
  min-width: 100%;
  overflow: auto;
  overflow-y: hidden;
}
.ts-chat-input-top-section .ts-chat-input-previews::-webkit-scrollbar {
  height: 8px;
}
.ts-chat-input-top-section .ts-chat-input-previews::after {
  content: '';
  height: 0px;
  min-width: 5px;
}
.ts-chat-input-top-section .ts-chat-input-container-autocomplete {
  width: 100%;
}
.ts-chat-input-container-actions {
  max-height: var(--tsv-bar-height);
  margin-right: 3px;
  margin-top: auto;
  margin-bottom: var(--tsv-padding-v-minimal);
  margin-left: auto;
}
.ts-chat-input-container-actions * {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3px;
  margin-right: 3px;
}
.ts-chat-input-container-actions .ts-chat-send-button .tsv-icon-base-fill {
  fill: var(--tsv-icon-tint);
}
.ts-chat-input-container-actions .ts-chat-send-button .tsv-icon-base-stroke {
  fill: var(--tsv-icon-tint);
}
.ts-chat-input-container-actions .ts-chat-send-button:hover {
  transform: scale(1.2, 1.2);
}
.ts-chat-input-container-actions .ts-chat-send-button.disabled {
  opacity: 0.5;
}
.ts-chat-input-container-actions .ts-chat-send-button.disabled:hover {
  transform: none;
}
.ts-chat-input-container-content {
  position: relative;
  display: flex;
  flex: 1;
  z-index: 6;
  background: var(--tsv-shaded-bg);
  border-radius: var(--tsv-border-radius-big);
  backface-visibility: hidden;
}
.ts-chat-input-container-content .ts-chat-input-container-content-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.ts-chat-input-container-content .ts-chat-input-container-content-inner .ts-chat-input {
  padding: 7px 10px;
  background-color: transparent;
  border: none;
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: -0.025rem;
  line-height: 1.25rem;
  outline: none !important;
  resize: none;
  width: 100%;
  color: var(--tsv-font-color);
}
.ts-chat-input-container-content .ts-chat-input-container-content-inner .ts-chat-input.error {
  color: var(--ts-error-color);
}
.ts-chat-scroll-to-bottom {
  position: absolute;
  right: 0;
  bottom: calc(100% + 8px);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.ts-chat-scroll-to-bottom svg {
  transform: scale(2, 2);
}
.ts-chat-emoji-slide-enter,
.ts-chat-emoji-slide-leave-to {
  transform: translateY(38px);
  opacity: 0;
  z-index: 0;
}
.ts-chat-emoji-slide-enter-active,
.ts-chat-emoji-slide-leave-active {
  transition: all 0.15s ease;
}
.ts-chat-scroll-button-slide-enter,
.ts-chat-scroll-button-slide-leave-to {
  transform: translateY(38px);
  opacity: 0;
  z-index: 0;
}
.ts-chat-scroll-button-slide-enter-active,
.ts-chat-scroll-button-slide-leave-active {
  transition: all 0.15s ease;
}


.ts-chat-action-bar {
  padding: 7px;
  justify-content: space-between;
}
.ts-chat-action-bar .ts-btn {
  margin: 0;
}
.ts-chat-action-bar .ts-chat-action-bar-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: var(--tsv-padding-h-small);
}
.ts-chat-action-bar .ts-chat-action-bar-item-container .ts-btn.ts-chat-action-bar-item {
  margin-left: var(--tsv-padding-h);
}


.tsv-chat-dropzone-container {
  pointer-events: none;
  transition: all .15s;
  opacity: 1;
}
.tsv-chat-dropzone-container.hidden {
  opacity: 0;
}
.tsv-chat-dropzone-container.hidden::before {
  background: none;
}
.tsv-chat-dropzone-region {
  height: 150px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--tsv-tint);
  border-radius: calc(var(--tsv-border-radius) * 2);
  background: var(--tsv-shaded-bg);
  z-index: 1000;
  position: relative;
}
.tsv-chat-dropzone-region p {
  margin-top: var(--tsv-padding-v-large);
}
.tsv-chat-dropzone-region.hidden {
  display: none;
}
.tsv-chat-dropzone-region-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tsv-chat-dropzone-region-title h6 {
  margin-left: var(--tsv-padding-h-small);
}


.ts-chat-messages {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  user-select: text;
}
.ts-chat-messages.dragIgnoreEvents {
  pointer-events: none;
}
.ts-chat-messages.preview {
  overflow-y: hidden;
}
.ts-chat-messages .ts-chat-message-group:not(.compact) {
  display: flex;
}
.ts-chat-messages .ts-chat-message-group.compact {
  padding-bottom: 1.5px;
  padding-top: 1.5px;
}
.ts-chat-messages .ts-chat-message-group.compact:after {
  content: '';
  border-bottom: 1.5px solid rgba(255,255,255,0.025);
  position: absolute;
  left: 10px;
  width: calc(100% - 15px);
  padding-top: 2px;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-group-body {
  flex: 1;
  overflow: hidden;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-sender-avatar {
  margin: 10px 10px;
  width: 40px;
  height: 40px;
  position: relative;
  background-size: cover;
  overflow: hidden;
  border-radius: 32px;
  overflow: hidden;
  border-color: rgba(255,255,255,0.2);
  border-style: solid;
  border-width: 2px;
  transition: border-color 0.2s;
  z-index: 1;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-sender-avatar.fallback {
  background: url(/3bdafe94f0caf6c524f99cc96e88f3d4.png) no-repeat center/cover;
  background-size: cover;
  overflow: hidden;
  border-radius: 32px;
  overflow: hidden;
  border-color: rgba(0,0,0,0.1);
  border-style: solid;
  border-width: 2px;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-sender-avatar .ts-chat-message-sender-avatar-static,
.ts-chat-messages .ts-chat-message-group .ts-chat-message-sender-avatar .ts-chat-message-sender-avatar-animated {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-sender-avatar .ts-chat-message-sender-avatar-animated {
  display: none;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-sender-avatar.has-animated:hover .ts-chat-message-sender-avatar-static {
  display: none;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-sender-avatar.has-animated:hover .ts-chat-message-sender-avatar-animated {
  display: initial;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-sender-avatar:not(.fallback) {
  cursor: pointer;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message {
  position: relative;
  min-width: 0;
  margin: 6px 0;
  contain: layout style paint;
  margin-right: 20px;
  white-space: nowrap;
  flex: 1;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message:not(.compact).selected {
  background-color: var(--tsv-shaded-bg);
  border-radius: 5px;
  border-top-left-radius: 0px;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message.compact {
  padding-left: 100px;
  margin: 0;
  text-indent: -100px;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message.compact .ts-parsed-text-render {
  color: #b5b5b5;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message.compact .ts-chat-timestamp {
  vertical-align: baseline;
  padding-left: 15px;
  display: inline;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message.compact .ts-chat-sender {
  line-height: 1rem;
  font-size: var(--ts-font-size-body-small);
  font-weight: bold;
  vertical-align: baseline;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message.compact .ts-chat-message-content {
  vertical-align: baseline;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message.compact .ts-chat-message-content pre {
  margin-left: -20px;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message.compact .ts-chat-message-content.deleted {
  font-style: italic;
  color: var(--tsv-chat-deleted-font-color);
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message .ts-chat-sender {
  cursor: pointer;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message .ts-chat-timestamp {
  line-height: 1rem;
  text-align: right;
  vertical-align: text-bottom;
  overflow: hidden;
  padding-right: 5px;
  display: inline-block;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message .ts-chat-timestamp.compact {
  width: 65px;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message .ts-chat-timestamp.force-compact {
  position: absolute;
  left: -65px;
  top: -3px;
  margin: 6px 0;
  user-select: none;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message .ts-chat-message-status {
  margin-top: -13px;
  margin-right: 0.2em;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message:not(.first) .ts-chat-timestamp {
  color: transparent;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message:not(.first):hover .ts-chat-timestamp {
  color: #99aab5;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-attachment {
  padding-left: 0px;
  max-width: 100%;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-attachment.compact {
  padding-left: 65px;
}
.ts-chat-messages .ts-chat-message-group:not(.compact).slimlayout .ts-chat-message-sender-avatar {
  margin: 0 var(--tsv-padding-h-minimal) 0 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border-width: 1px;
}
.ts-chat-messages .ts-chat-message-group:not(.compact).slimlayout .ts-chat-message-group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ts-chat-messages .ts-chat-message-group:not(.compact).slimlayout .ts-chat-message-group-body {
  padding: 0 var(--tsv-padding-h-minimal);
}
.ts-chat-messages .ts-chat-message-group:not(.compact).slimlayout .ts-chat-message {
  margin-right: 0px;
}
.ts-chat-messages .ts-chat-message-group:not(.compact).slimlayout .ts-message-details {
  margin-top: 0;
  padding-left: 0;
  width: 20px;
  height: 20px;
  float: right;
  margin-left: var(--tsv-padding-h-minimal);
}
.ts-chat-messages .ts-chat-message-group:not(.compact).slimlayout .ts-message-details .ts-chat-message-status {
  margin: 0;
  filter: brightness(0.8);
}
.ts-chat-messages .ts-chat-message-group:not(.compact).slimlayout .ts-message-timestamp {
  padding-right: 0;
}
.ts-chat-messages .ts-chat-message-group:not(.compact).slimlayout .ts-chat-message-attachment-integration img {
  height: 125px;
}
.ts-chat-messages .ts-chat-message-group:not(.compact).ownclient .ts-message-content:not(.deleted) {
  color: var(--tsv-chat-self-font-color);
  background: var(--tsv-chat-self-bg);
}
.ts-chat-messages .ts-chat-message-group:not(.compact).ownclient .ts-message-content:not(.deleted)::before {
  border-right: 6px solid var(--tsv-chat-self-bg);
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-outer-compact {
  position: relative;
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-outer-compact .ts-checkbox {
  position: absolute;
  --ts-checkbox-size: 14px;
  right: var(--tsv-padding-h);
  top: calc(50% - 7px);
}
.ts-chat-messages .ts-chat-message-group .ts-chat-message-outer-compact.selected:before {
  content: '';
  width: calc(100% - 20px);
  height: calc(100% - 2px);
  background-color: var(--tsv-shaded-bg);
  border-radius: 5px;
  position: absolute;
  top: 1px;
  right: 10px;
  left: 10px;
  bottom: 1px;
  z-index: -100;
}
.ts-chat-container {
  display: flex;
  flex-direction: column;
  flex: 10 0 10em;
  contain: layout size style paint;
  will-change: transform;
}
.ts-chat-container .ts-server-messages-background {
  position: absolute;
  z-index: 0;
  bottom: 60px;
  right: 15px;
  width: 50%;
  pointer-events: none;
}
.ts-chat-container .ts-server-messages-background .ts-server-messages-background-icon {
  float: right;
  opacity: 0.1;
}
.ts-chat-hidden-copy {
  position: absolute;
  opacity: 0;
}
.ts-chat-input {
  flex: 1;
}
.ts-chat-sender-name {
  margin-right: 5px;
  line-height: 1rem;
  color: var(--ts-chat-sender-name-color);
  font-weight: 600;
}
.ts-message {
  display: flex;
  justify-content: space-between;
  padding: 0 0 2px 5px;
}
.ts-message:not(.first) .ts-message-timestamp {
  color: transparent;
}
.ts-message:hover .ts-message-timestamp {
  color: var(--ts-muted-font-color);
}
.ts-message .ts-checkbox {
  margin-right: var(--tsv-padding-h-minimal);
  margin-top: 1px;
}
.ts-message-sender {
  padding: 5px 0 0 5px;
}
.ts-message-sender-name {
  font-weight: 500;
}
.ts-message-content {
  position: relative;
  flex-grow: 0;
  flex-shrink: 2;
  padding: 4px 8px 4px 8px;
  border-radius: var(--tsv-border-radius);
  border-top-left-radius: 0;
  background: var(--tsv-chat-remote-bg);
  color: var(--tsv-chat-remote-font-color);
  word-wrap: normal;
  min-width: 0;
  word-wrap: break-word;
}
.ts-message-content::before {
  content: '';
  left: 0;
  top: 0;
  display: block;
  position: absolute;
  transform: translateX(-100%);
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  border-right: 6px solid var(--tsv-chat-remote-bg);
}
.ts-message-content.deleted {
  background: var(--tsv-chat-deleted-bg);
  font-style: italic;
  color: var(--tsv-chat-deleted-font-color);
}
.ts-message-content.deleted:before {
  border-right: 6px solid var(--tsv-chat-deleted-bg);
}
.ts-message-content a {
  color: darkblue;
}
.ts-message-details {
  text-align: right;
  flex-grow: 1;
  padding-left: 0.8em;
}
.ts-message-timestamp {
  padding-right: 0.5em;
  display: inline-block;
  position: relative;
  top: 8px;
}
.ts-chat-load-older-messages-barrier {
  position: relative;
  top: 350px;
  min-height: 1px;
  min-width: 1px;
}
.ts-chat-load-newer-messages-barrier {
  position: relative;
  bottom: 350px;
  min-height: 1px;
  min-width: 1px;
}
.ts-chat-message-indent {
  margin-left: 1rem;
}
.ts-chat-sender-name:hover,
.ts-message-sender-name:hover {
  opacity: 0.4;
  cursor: pointer;
}
.ts-chat-input-action-switcharoo-enter,
.ts-chat-input-action-switcharoo-leave-to {
  transform: translateY(100%);
  opacity: 0;
  z-index: 0;
}
.ts-chat-input-action-switcharoo-enter-active,
.ts-chat-input-action-switcharoo-leave-active {
  transition: all 0.15s ease;
}



/*# sourceMappingURL=3.css.map*/