.ts-server-tree-item-tag {
  font-size: var(--tsv-font-size-minimal);
  color: var(--tsv-font-subtitle-color);
  margin-left: var(--tsv-padding-h-minimal);
  flex-shrink: 0;
}
.ts-server-tree-item-node .ts-expander,
.ts-server-tree-item-node .ts-expander-spacing {
  min-width: var(--tsv-icon-size);
  margin-right: var(--tsv-padding-h-minimal);
  margin-left: 0;
}


:root {
  --item-text-line-height: 1.5em;
}
.ts-server-tree-item-root>.ts-server-tree-item-leaf::before {
  counter-increment: none;
  content: none;
}
.ts-server-tree-item {
  position: relative;
  display: inline-block;
  min-width: 100%;
}
.ts-server-tree-item img {
  pointer-events: none;
}
.ts-server-tree-item-leaf {
  position: relative;
  white-space: nowrap;
  user-select: none;
  min-width: 100%;
  contain: layout;
}
.ts-server-tree-item-node-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding-left: var(--tsv-padding-h);
  padding-right: var(--tsv-padding-h-small);
}
.ts-server-tree-item-node-content .fa-icon {
  width: 0.9em;
  height: 0.9em;
  max-width: 100%;
  max-height: 100%;
}
.ts-server-tree-item-node-content .channel-icon-password {
  position: absolute;
  overflow: visible;
  z-index: 1;
  margin-left: 0.6em;
  margin-top: -0.5em;
}
.ts-server-tree-item-node-content .mute-indicator {
  position: absolute;
  overflow: visible;
  z-index: 1;
  margin-left: 1.15em;
  margin-top: 0.7em;
  border-style: none;
  background: var(--tsv-shaded-bg);
  border-radius: 50%;
  padding: 3px;
}
:root {
  --ts-tree-client-height-compact: var(--tsv-row-height);
  --ts-tree-client-height-default: var(--tsv-row-height-large);
  --ts-tree-badges-height-compact: calc(var(--tsv-row-height) - 2 * var(--tsv-padding-v-minimal));
  --ts-tree-badges-height-default: calc(var(--tsv-row-height) - 2 * var(--tsv-padding-v-minimal));
  --ts-tree-channel-height-default: var(--tsv-row-height);
  --ts-tree-spacer-height-default: 18px;
}
.ts-server-tree-item-leaf {
  display: flex;
  align-items: stretch;
}
.ts-server-tree-item-leaf.channel:hover .tsv-item-highlight,
.ts-server-tree-item-leaf.client:hover .tsv-item-highlight,
.ts-server-tree-item-leaf.spacer:hover .tsv-item-highlight {
  display: block;
}
.ts-server-tree-item-leaf.channel {
  height: var(--ts-tree-channel-height-default);
}
.ts-server-tree-item-leaf.channel.ts-server-tree-item-text {
  order: 1;
}
.ts-server-tree-item-leaf.channel:hover .ts-channel-icon-info {
  visibility: visible;
}
.ts-server-tree-item-leaf.spacer {
  height: var(--ts-tree-spacer-height-default);
}
.ts-server-tree-item-leaf.spacer .ts-server-tree-item-node-content:not(.ts-server-tree-item-node-with-childs) {
  padding-right: var(--tsv-padding-h);
}
.ts-server-tree-item-leaf.spacer>.ts-server-tree-item-node .ts-server-tree-item-text {
  display: inline-block;
  width: 100%;
  font-size: 0.8em;
  font-style: italic;
  color: var(--ts-secondary-font-color);
}
.ts-server-tree-item-leaf.spacer>.ts-server-tree-item-node .ts-server-tree-item-text.line {
  height: 1.35em;
  width: 100%;
}
.ts-server-tree-item-leaf.spacer>.ts-server-tree-item-node .ts-server-tree-item-text.dash-line {
  background-color: var(--ts-secondary-font-color);
  -webkit-mask-image: url(/e8acc59dd21c08033268da08f34b30b9.svg);
  mask-image: url(/e8acc59dd21c08033268da08f34b30b9.svg);
  mask-size: contain;
}
.ts-server-tree-item-leaf.spacer>.ts-server-tree-item-node .ts-server-tree-item-text.dot-line {
  background-color: var(--ts-secondary-font-color);
  -webkit-mask-image: url(/5383753c575a7fe010c00f4102faf8b8.svg);
  mask-image: url(/5383753c575a7fe010c00f4102faf8b8.svg);
  mask-size: contain;
}
.ts-server-tree-item-leaf.spacer>.ts-server-tree-item-node .ts-server-tree-item-text.dash-dot-line {
  background-color: var(--ts-secondary-font-color);
  -webkit-mask-image: url(/af3acd8ad870554950365a99cd9c561e.svg);
  mask-image: url(/af3acd8ad870554950365a99cd9c561e.svg);
  mask-size: contain;
}
.ts-server-tree-item-leaf.spacer>.ts-server-tree-item-node .ts-server-tree-item-text.solid-line {
  background-color: var(--ts-secondary-font-color);
  -webkit-mask-image: url(/5722b52fb1e85b328d3fb015e3f91f3c.svg);
  mask-image: url(/5722b52fb1e85b328d3fb015e3f91f3c.svg);
  mask-size: contain;
}
.ts-server-tree-item-leaf.spacer>.ts-server-tree-item-node .ts-server-tree-item-text.dash-dot-dot-line {
  background-color: var(--ts-secondary-font-color);
  -webkit-mask-image: url(/5892588caf28bd4215eb6ac8eabe2ddd.svg);
  mask-image: url(/5892588caf28bd4215eb6ac8eabe2ddd.svg);
  mask-size: contain;
}
.ts-server-tree-item-leaf.spacer>.ts-server-tree-item-node .ts-server-tree-item-text.left {
  text-align: left;
}
.ts-server-tree-item-leaf.spacer>.ts-server-tree-item-node .ts-server-tree-item-text.right {
  text-align: right;
}
.ts-server-tree-item-leaf.spacer>.ts-server-tree-item-node .ts-server-tree-item-text.centered {
  text-align: center;
}
.ts-server-tree-item-leaf.spacer>.ts-server-tree-item-node .ts-server-tree-item-text.repeat {
  text-overflow: clip;
}
.ts-server-tree-item-leaf .ts-server-tree-item-text {
  line-height: var(--item-text-line-height);
  font-size: var(--tsv-font-size-small);
}
.ts-server-tree-item-leaf.client {
  height: var(--ts-tree-client-height-default);
  color: var(--ts-third-font-color);
  white-space: initial;
}
.ts-server-tree-item-leaf.client .ts-server-tree-item-text {
  font-size: 1em;
}
.ts-server-tree-item-leaf.client.compact {
  height: var(--ts-tree-client-height-compact);
}
.ts-server-tree-item-leaf.client:hover .ts-channel-icon-info {
  visibility: visible;
}
.ts-server-tree-item-leaf.client.self {
  color: var(--tsv-highlight-color);
  font-weight: 500;
}
.ts-server-tree-item-leaf.client:not(.compact) .ts-channel-icon-info-detail {
  top: -0.8em;
}
.tsv-server-tree-icon {
  margin-right: var(--tsv-padding-h-minimal);
}
.ts-server-tree-channel-info,
.ts-server-tree-client-info {
  margin-left: var(--tsv-padding-h-minimal);
  margin-top: var(--tsv-padding-v-minimal);
  margin-bottom: var(--tsv-padding-v-minimal);
}
.ts-server-tree-channel-info.expanded,
.ts-server-tree-client-info.expanded {
  padding-top: var(--tsv-padding-v-minimal);
}
.ts-server-tree-icon.channel {
  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;
  position: relative;
}
.ts-server-tree-icon.channel.masked {
  mask-type: luminance;
  -webkit-mask: url(/a60387acf83c32ac728fd9a9b339ea5c.svg);
  -webkit-mask-size: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
}
.ts-server-tree-icon.channel.masked img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ts-server-tree-icon.channel.unmasked {
  position: absolute;
  top: 0;
  z-index: 1;
}
.ts-server-tree-icon.client {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
}
.ts-server-tree-icon.client:not(.compact) {
  height: 2em;
  width: 2em;
  min-height: 2em;
  min-width: 2em;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  border-radius: 2em;
  margin-right: 0.8rem;
}
.ts-server-tree-icon.client.compact {
  height: 1em;
  width: 1em;
  min-height: 1em;
  min-width: 1em;
  margin-right: 1rem;
}
.ts-server-tree-icon.client.fallback {
  background: url(/3bdafe94f0caf6c524f99cc96e88f3d4.png) no-repeat center/cover;
}
.ts-server-tree-icon.client.talking {
  overflow: visible;
}
.ts-server-tree-icon.client.talking .ts-server-tree-client-talking {
  display: block;
}
.ts-server-tree-icon.client.away {
  opacity: 0.5;
}
.ts-server-tree-icon.client .ts-server-tree-client-talking {
  position: absolute;
  top: -8px;
  --tsv-icon-size: 48px;
  display: none;
}
.ts-server-tree-icon.client .ts-server-tree-client-talking.left {
  transform: scaleX(-1);
  left: -10px;
}
.ts-server-tree-icon.client .ts-server-tree-client-talking.right {
  right: -10px;
}
.ts-server-tree-client-info.expanded .ts-server-tree-item-text {
  line-height: initial;
}
.ts-server-tree-group-icons {
  display: flex;
  align-items: center;
}
.ts-server-tree-group-icons img,
.ts-server-tree-group-icons .ts-server-tree-group-icon {
  margin: 0 4px;
}
.ts-server-tree-group-icons img:first-child,
.ts-server-tree-group-icons .ts-server-tree-group-icon:first-child {
  margin-left: 2px;
}
.ts-server-tree-group-icons img:last-child,
.ts-server-tree-group-icons .ts-server-tree-group-icon:last-child {
  margin-right: 2px;
}
.ts-server-tree-group-icons .inline-badge-icons {
  padding-top: 2.99px;
}
.ts-server-tree-group-icons span {
  color: var(--tsv-font-subtitle-color);
  margin: 0 var(--tsv-padding-v-small);
}
.compact .ts-server-tree-group-icons img,
.compact .ts-server-tree-group-icons .ts-server-tree-group-icon {
  margin: 0 2px;
}
.tsv-tree-preserve-spaces {
  white-space: pre;
}
.ts-server-tree-item-node {
  width: 100%;
}


.ts-audio-device-selector {
  margin: var(--tsv-padding-v) 0;
}
.ts-strikethrough {
  text-decoration: line-through;
}


.ts-audio-device-recovery {
  background-color: var(--ts-primary-background-darker);
  border-bottom: 2px solid var(--ts-error-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}
.ts-audio-device-recovery .ts-audio-device-recovery-description {
  font-size: var(--ts-font-size-body-small);
}
.ts-audio-device-recovery .ts-audio-device-recovery-margin {
  margin-top: 10px;
}
.ts-audio-device-recovery .ts-red-alert {
  color: darkred;
}


.ts-security-level-header,
.ts-security-level-header-controls {
  display: flex;
  align-items: center;
}
.ts-security-level-header {
  flex-wrap: wrap;
  min-height: var(--tsv-bar-element-height);
}
.ts-security-level-header-controls {
  justify-content: flex-end;
  flex-grow: 1;
}
.ts-request-identity-quality {
  max-width: 50px;
}
.ts-security-level-current {
  display: grid;
}
.ts-security-level-current span {
  grid-column: 1;
  grid-row: 1;
}
.ts-security-improve-button {
  min-width: 60px;
}
.ts-security-level-label {
  font-size: var(--tsv-font-size-small);
  color: var(--tsv-font-subtitle-color);
}
.ts-security-level-improve-symbol {
  --tsv-icon-tint2: var(--tsv-font-subtitle-color);
}
.ts-security-level-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
progress[value]::-webkit-progress-value::before {
  content: attr(beforeprogress);
  position: absolute;
  right: 0;
  top: -125%;
}


.ts-server-tree-loader {
  width: 100px;
  height: 100px;
  margin: auto !important;
}
.ts-server-tree-wrapper {
  display: flex;
  position: relative;
  min-height: 50%;
  height: 100%;
  contain: layout size style paint;
  will-change: transform;
}
.ts-server-tree-wrapper.preview .vue-recycle-scroller {
  overflow-y: hidden !important;
}
.ts-server-tree-wrapper .ts-server-tree-item-root {
  width: 100%;
}
.ts-server-tree-wrapper .ts-server-tree-item-root>.ts-server-tree-item.channel {
  position: relative;
  min-width: 100%;
}
.ts-server-tree-wrapper span {
  text-overflow: ellipsis;
  overflow: hidden;
}
.ts-server-tree-wrapper .ts-server-tree-content-spacer-top,
.ts-server-tree-wrapper .ts-server-tree-content-spacer-bottom {
  height: var(--tsv-padding-v-small);
}
.overlay-info hr {
  margin: var(--tsv-padding-v) 0;
}
.overlay-info-wrapper:not(.inline)+.ts-server-tree-wrapper .ts-server-tree-item-leaf {
  pointer-events: none;
}
.ts-server-password-protected {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.ts-server-password-protected .ts-server-password-protected-inner {
  width: 50%;
  max-width: 1200px;
  padding: 5%;
  text-align: center;
}
.ts-server-password-protected .ts-server-password-protected-inner .ts-server-password-protected-icon {
  margin: auto;
  margin-bottom: 20px;
}
.ts-server-password-protected .ts-server-password-protected-inner p {
  font-size: 0.9em;
  margin: 10px 0px 20px 0px;
}
.things-are-annoying {
  min-height: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.scroller {
  height: 100%;
  overflow-y: overlay !important;
}


.ts-create-channel-header[data-v-02fb56e3] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--tsv-padding-v-large);
}
.ts-create-channel-header h6[data-v-02fb56e3] {
  margin-bottom: 0;
}
.ts-create-channel-header .ts-create-channel-drag-disabled[data-v-02fb56e3] {
  opacity: 0.3;
}
.ts-create-channel-header.allow-drag[data-v-02fb56e3] {
  cursor: grab;
}
.ts-create-channel-menu[data-v-02fb56e3] {
  max-width: 350px;
  display: flex;
}
.ts-create-channel-menu .ts-card[data-v-02fb56e3] {
  box-sizing: border-box;
  margin: var(--tsv-padding-v) 1em;
  opacity: 0.999;
  --tsv-icon-base: var(--tsv-font-color);
}
.ts-create-channel-menu .ts-card .ts-text-input-as-text[data-v-02fb56e3] {
  width: 100%;
}
.ts-create-channel-menu .ts-card .ts-toggle-wrapper[data-v-02fb56e3] {
  width: 100%;
  color: var(--tsv-font-color);
}
.ts-create-channel-details[data-v-02fb56e3] {
  display: flex;
  flex-direction: row;
}
.ts-create-channel-details-icon[data-v-02fb56e3] {
  margin: var(--tsv-padding-v) var(--tsv-padding-h-small) var(--tsv-padding-v) 0;
}
.ts-create-channel-details-actual[data-v-02fb56e3] {
  flex: 1;
}


.ts-no-events {
  text-align: center;
  color: var(--tsv-font-color);
  max-width: 300px;
  margin: 10px auto;
  padding: 0 15px;
}
.ts-no-events p {
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ts-server-events-menu {
  max-height: 160px;
  padding: 4px 4px;
  display: flex;
  flex-direction: column;
}
.ts-server-events-title {
  padding: 0 var(--tsv-padding-h-small);
  padding-bottom: var(--tsv-padding-v-small);
  font-size: var(--tsv-font-size);
}
.ts-server-events-list {
  background: var(--tsv-contrast-bg);
  border-radius: var(--tsv-border-radius);
  overflow: hidden;
}
.ts-server-events-list li {
  padding: var(--tsv-padding-v-minimal) var(--tsv-padding-h-small);
  border-bottom: var(--tsv-separation-border);
  font-size: var(--tsv-font-size-small);
  color: var(--tsv-font-subtitle-color);
}
.ts-server-events-list li:nth-child(2n) {
  color: var(--tsv-font-color);
}


.ts-no-requests[data-v-6986d3cc] {
  text-align: center;
  color: var(--tsv-font-color);
  max-width: 300px;
  margin: 10px auto;
  padding: 0 15px;
}
.ts-no-requests p[data-v-6986d3cc] {
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ts-talker-requests-menu[data-v-6986d3cc] {
  max-height: 300px;
  padding: 4px 4px;
  display: flex;
  flex-direction: column;
}
.ts-talker-requests-title[data-v-6986d3cc] {
  padding: 0 var(--tsv-padding-h-small);
  padding-bottom: var(--tsv-padding-v-small);
  font-size: var(--tsv-font-size);
}
.ts-talker-requests-list[data-v-6986d3cc] {
  background: var(--tsv-contrast-bg);
  border-radius: var(--tsv-border-radius);
  overflow: hidden;
}
.ts-talker-requests-list li[data-v-6986d3cc] {
  margin: 0 calc(var(--tsv-padding-h-small) * -1) !important;
  padding: 0 var(--tsv-padding-h) !important;
}


.ts-server-connection-stats-menu {
  max-width: 220px;
}
.ts-server-connection-stats-body {
  padding: var(--tsv-padding-v-small) var(--tsv-padding-h-small);
  color: var(--tsv-font-subtitle-color);
}


.moderation-queue .tsv-icon {
  transform: scale(1.4);
}


.tsv-tree-client[data-v-88b10ece] {
  color: var(--tsv-connection-client-font-color);
}



/*# sourceMappingURL=7.css.map*/