@import url('https://aikomidori.github.io/TeamSpeak-5-Dark/css/9.css');

:root {
  --black: 21, 21, 21;
  --darkgrey: 30, 30, 31;
  --grey: 46, 46, 47;
  --lightgrey: 62, 62, 63;
  --white: 255, 255, 255;
  background-color: var(--darkgrey) !important;
}

.ts-context-menu,
.ts-false-context-menu {
  background-color: var(--darkgrey) !important;
}

.ts-context-menu ul,
.ts-context-menu hr,
.ts-false-context-menu ul,
.ts-false-context-menu hr {
  margin: 0 !important;
}

.ts-context-menu .tsv-user-input-dialog,
.ts-false-context-menu .tsv-user-input-dialog {
  padding-bottom: 0 !important;
}

.ts-context-menu-sub-group {
  background-color: var(--grey) !important;
  box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.6);
}

.ts-context-menu-action:hover {
  background-color: var(--grey) !important;
}

.ts-context-menu-sub:hover {
  background-color: var(--grey) !important;
}

.tsv-text-interaction-item {
  margin: 0 var(--tsv-padding-h-small) !important;
}

.tsv-social-content {
  padding: 0 !important;
}

.tsv-dashboard-widget-merch-column[data-v-1345b107] {
  background: var(--darkgrey) !important;
}

.ts-background-hexes:before {
  background: var(--grey) !important;
  /* -webkit-mask: url("tsui://default/images/icons/hex_background_tile.svg"); */
}

.ts-text-input-box-inner input {
  background-color: var(--darkgrey) !important;
  box-shadow: none !important;
}

.ts-sign-in-title {
  margin-bottom: 0 !important;
}

.tsv-dashboard-widget {
  background: var(--black) !important;
}

.tsv-dashboard-widget.tsv-dashboard-widget-highlight {
  background: var(--darkgrey) !important;
}

.tsv-dashboard-widget-content {
  background: var(--darkgrey) !important;;
}

.tsv-tool-menu {
  min-width: 170px !important;
}

.tsv-tool-menu .ts-text-input-as-text {
  left: -3px !important;
  right: -3px !important;
}

.tsv-tool-menu .ts-text-input-as-text .ts-input {
  padding-left: calc(var(--tsv-icon-size) + var(--tsv-padding-h) - 8px) !important;
}

.ts-slider .ts-slider-track .ts-slider-knob .ts-slider-knob-bubble {
  background-color: var(--black) !important;
}

.ts-about-oss-license {
  padding-right: 0 !important;
  padding-left: var(--tsv-padding-h-small) !important;
}

.ts-about-oss-license-entrypoint {
  padding-right: 0 !important;
  padding-left: var(--tsv-padding-h-small) !important;
}

.ts-checkbox .ts-checkbox-inner .ts-checkbox-background {
  background-color: var(--darkgrey) !important;
}

.ts-toggle {
  background: var(--darkgrey) !important;
}

.ts-toggle-inner {
  background-color: var(--black) !important;
}

.ts-toggle-button {
  background-color: var(--grey) !important;
}

.ts-toggle-button.checked {
  background-color: var(--black) !important;
}

.ts-emogi-featured-header {
  margin-top: 2px !important;
}

.ts-emogi-featured-row .ts-emogi-featured-item .ts-emogi-item-cover {
  background-color: var(--darkgrey) !important;
}

.ts-emogi-item {
  background-color: var(--grey) !important;
}

.ts-first-launch-login-myts-container {
  background: var(--grey) !important;
}

.ts-first-launch-login-myts-container {
  background: var(--grey) !important;
}

.ts-first-launch-login-myts-info .ts-first-launch-login-myts-info-item .ts-first-launch-login-myts-info-item-text {
  display: block !important;
}

.ts-first-launch-terms-conditions-container {
background: var(--grey) !important;
}

.ts-fullscreen-overlay-new-backup-key-container[data-v-fece7358] {
  background: var(--grey) !important;
}

.ts-first-launch-beta-badge-container  {
  background: var(--grey) !important;
}

body {
  background: var(--grey) !important;
}

.tsv-window {
  background: var(--grey) !important;
}

.tsv-activity {
  flex-grow: 1;
  flex-direction: row !important;
}

.tsv-flex-grow {
  flex-grow: 1 !important;
  min-width: 0px;
}

.tsv-view-transparent {
  background: transparent !important;
}

.tsv-no-padding h2 {
  margin-left: var(--tsv-padding-h-small) !important;
  margin-right: var(--tsv-padding-h-small) !important;
}

.tsv-debug {
  box-shadow: 0 0 0 1px red !important;
}

.tsv-debug .tsv-debug {
  box-shadow: 0 0 0 1px green !important;
}

.tsv-debug .tsv-debug .tsv-debug {
  box-shadow: 0 0 0 1px blue !important;
}

.tsv-debug .tsv-debug .tsv-debug .tsv-debug {
  box-shadow: 0 0 0 1px pink !important;
}

.tsv-item-badge-count {
  background: var(--darkgrey) !important;
}

.tsv-header {
  background: var(--darkgrey) !important;
}

.tsv-footer {
  background: transparent !important;
  /* background: var(--darkgrey) !important; */
}

.tsv-item-highlight {
  background: var(--darkgrey) !important;
}

.tsv-view {
  background: var(--grey) !important;
}

.tsv-sidebar.tsv-view,
.tsv-sidebar .tsv-view,
.tsv-activity-secondary.tsv-view,
.tsv-activity-secondary .tsv-view,
.tsv-dashboard-widget.tsv-view,
.tsv-dashboard-widget .tsv-view {
  background: var(--grey) !important;
}

.tsv-sidebar .tsv-header,
.tsv-activity-secondary .tsv-header,
.tsv-dashboard-widget .tsv-header {
  background: var(--darkgrey) !important;
}

.tsv-sidebar .tsv-footer,
.tsv-sidebar .tsv-body>.tsv-bar,
.tsv-activity-secondary .tsv-footer,
.tsv-activity-secondary .tsv-body>.tsv-bar,
.tsv-dashboard-widget .tsv-footer,
.tsv-dashboard-widget .tsv-body>.tsv-bar {
  background: var(--darkgrey) !important;
}

.tsv-sidebar .tsv-tabs .tsv-bar-item.active,
.tsv-activity-secondary .tsv-tabs .tsv-bar-item.active,
.tsv-dashboard-widget .tsv-tabs .tsv-bar-item.active {
  background: var(--darkgrey) !important;
}

.tsv-sidebar .tsv-footer,
.tsv-activity-secondary .tsv-footer,
.tsv-dashboard-widget .tsv-footer {
  /* background: var(--darkgrey) !important; */
  background: var(--grey) !important;
}

.tsv-sidebar .tsv-item-highlight,
.tsv-activity-secondary .tsv-item-highlight,
.tsv-dashboard-widget .tsv-item-highlight {
  background: var(--darkgrey) !important;
}

.tsv-sidebar .tsv-bar .tsv-item-highlight,
.tsv-activity-secondary .tsv-bar .tsv-item-highlight,
.tsv-dashboard-widget .tsv-bar .tsv-item-highlight {
  background: var(--grey) !important;
}

.tsv-sidebar .ts-chat-input-container,
.tsv-activity-secondary .ts-chat-input-container,
.tsv-dashboard-widget .ts-chat-input-container {
  background: var(--darkgrey) !important;
}

.tsv-sidebar .ts-chat-input-container-content,
.tsv-activity-secondary .ts-chat-input-container-content,
.tsv-dashboard-widget .ts-chat-input-container-content {
  background: var(--darkgrey) !important;
}

.tsv-sidebar .ts-chat-input-emoji-picker,
.tsv-activity-secondary .ts-chat-input-emoji-picker,
.tsv-dashboard-widget .ts-chat-input-emoji-picker {
  background: var(--grey) !important;
}

.tsv-sidebar .ts-chat-input-emoji-picker .ts-chat-input-tab.active,
.tsv-activity-secondary .ts-chat-input-emoji-picker .ts-chat-input-tab.active,
.tsv-dashboard-widget .ts-chat-input-emoji-picker .ts-chat-input-tab.active {
  background: var(--grey) !important;
}

.tsv-sidebar .ts-chat-input-integration-container,
.tsv-activity-secondary .ts-chat-input-integration-container,
.tsv-dashboard-widget .ts-chat-input-integration-container {
  --tsv-bg: var(--darkgrey) !important;
}

.tsv-activity-detail-unrelated>.tsv-body:before {
  background: var(--darkgrey) !important;
}

.tsv-highlight.tsv-header {
  background: var(--darkgrey) !important;
}

.tsv-highlight.tsv-header::before {
  background: var(--darkgrey) !important;
  /* -webkit-mask: url("tsui://default/images/icons/hex_mask.svg"); */
}

.tsv-item-active-secondary .tsv-item-active-indicator {
  background: var(--grey) !important;
}

.tsv-search-input,
.tsv-location-bar,
.ts-input {
  background: var(--grey) !important;
}

.ts-input:hover,
.ts-input:focus {
  background: var(--darkgrey) !important;
}

.tsv-location-menu-indicator.tsv-active {
  background: var(--darkgrey) !important;
}

.tsv-location-navigator {
  background-color: var(--darkgrey) !important;
}

.tsv-tab-item-active::before {
  background: var(--black) !important;
}

.tsv-bar-drop-indicator {
  background: var(--black) !important;;
}

.tsv-icon-badge::after {
  background: var(--black) !important;
}

.tsv-server-info-card {
  background: var(--darkgrey) !important;
}

.tsv-server-info-default-banner {
  background: var(--darkgrey) !important;
}

.tsv-server-info-topic .tsv-server-info-topic-banner,
.tsv-server-info-topic .tsv-detail-info-topic-banner,
.tsv-detail-info-topic .tsv-server-info-topic-banner,
.tsv-detail-info-topic .tsv-detail-info-topic-banner {
  background-color: var(--darkgrey) !important;
}

.tsv-server-info-topic .ts-server-tree-icon.channel img,
.tsv-detail-info-topic .ts-server-tree-icon.channel img {
  transform: scale(0.5) !important;
}

.tsv-server-info-grid .tsv-server-info-grid-item {
  background-color: var(--darkgrey) !important;
}

.tsv-server-info-grid .tsv-server-info-grid-item.clickable:hover {
  background: var(--black) !important;
}

.tsv-server-info-settings .ts-sidebar-card .ts-textarea-inner {
  background: var(--black) !important;
}

.tsv-server-info-settings .ts-sidebar-card .ts-textarea-inner.editing {
  background: var(--grey) !important;
}

.tsv-server-info-settings .ts-sidebar-card .ts-textarea-inner.allowEdit:hover {
  background: var(--darkgrey) !important;
}

.tsv-detail-info-avatar-banner {
  background: var(--grey) !important;
}