/* colors */
*{color: white !important;}

:root {

    --tsv-scrollbar-bg: var(--arctic) !important;

    --tsv-bg: var(--gradient) !important;
    --tsv-bg-blur: var(--pastel1) !important;
    --context-menu: var(--arctic1) !important;
    --tsv-bar-bg: var(--tsv-bg) !important;
    --tsv-shaded-bg: var(--arctic1) !important;
    --tsv-contrast-bg: var(--arctic1) !important;
    --tsv-header-toolbar-bg: var(--transparent) !important;
    --tsv-tint: var(--green) !important;
    --tsv-tint2: var(--white) !important;
    --tsv-icon-tint: var(--green) !important;
    --tsv-icon-tint2: var(--green) !important;
    --tsv-separation-border-color: var(--transparent) !important;
    --tsv-separation-border: var(--tsv-separation-border-width) solid var(--tsv-separation-border-color) !important;
    --ts-context-menu-background: var(--tsv-shaded-bg) !important;
    --tsv-context-menu-item-selection: var(--green1) !important;
    --tsv-item-selection: var(--green1) !important;
    --tsv-control-handle-active-bg: var(--green1) !important;
    --gradient: linear-gradient(var(--pastel) ,var(--alpine));
    --green: #00A86B !important;
    --green1: #00A86B70 !important;
    --white: #ffffff !important;
    --black: #000000 !important;
    --pastel: #2e2e2f !important;
    --pastel1: #15151550 !important;
    --alpine: #121212 !important;
    --snow: #e7f8f8 !important;
    --arctic: #3e3e3f !important;
    --arctic1: #3e3e3f90 !important;
    --red: red !important;
    --border: var(--green1) !important;
    --privacy-card: var(--green) !important;
    --settings-card: var(--arctic1) !important;
    --name-color: var(--white) !important;
    --text-color: var(--white) !important;
    --voice: var(--white) !important;
    --voice2: var(--alpine) !important;
    --voicemenu: var(--pastel) !important;
    --tsv-font-subtitle-color: var(--white) !important; /* dark text color */
    --ts-menu-action-color: var(--white) !important;
    --permissions-card: var(--arctic1) !important;
    --transparent: transparent !important;
    --tabs-colors: var(--arctic) !important;
    --tabs-active: var(--green1) !important;
    --title: var(--arctic) !important;
    --search: var(--transparent) !important;
    --toggle: var(--pastel) !important;
    --emojibg: var(--pastel) !important;
    --chatbox: var(--arctic1) !important;
    --chatinput: var(--arctic1) !important;

}




/* modifications */
:root {

    --tsv-separation-border-width: 1px !important; /* draggable border width */
    --tsv-blur: blur(20px) !important; /* blur amount */
    --tsv-radius: 6px !important; /* custom radius */
    --tsv-border-radius: 6px !important; /* other borders */
    --icon-width: 100% !important; /* 10%  default */
    --bookmarkstab-width: 45% !important; /* 95% default */
    --bookmarkstab-height: 40px !important; /* 22px default */
    --serverstab-width: 45% !important; /* 95% default */
    --serverstab-height: 40px !important; /* 22px default */
    --tsv-tcbc: var(--red) !important; /* tabs close button color */
    --soft-shadow: 0px 0px 10px 1px #02020220 !important; /* shadows */
    --hard-shadow: 0px 0px 7px 1px #02020230 !important; /* shadows */
    --menu-shadow: 0px 0px 10px 1px #02020240 !important; /* menu shadows */

    --defaultbg: none !important; /* default background img */
    --custombg: url(./girl_green.png) !important; /* custom background img */
    --customchatbg: flex !important; /* chat custom background img */
    --imgblur: blur(20px) !important; /* blur the chat custom background img */
    --grayscale: grayscale(20%) !important; /* darken the img */

}




/* DASHBOARD & SERVERS */

/* main application background color */
#app, .main, .body {
    background: var(--tsv-bg) !important;
}

/* hide default hexes background */
.tsv-background-canvas.fancy {
    display: var(--defaultbg) !important;
}

/* set custom background */
.ts-background-hexes-container {
    background: var(--custombg) !important;
    background-size: cover !important;
    filter: var(--grayscale) !important;
}

/* set custom background behind the chat blurred */
.ts-chat-container .ts-background-hexes-container {
    filter: var(--imgblur) !important;
    display: var(--customchatbg) !important;
    margin-left: 20px !important;
}

/* dashboard widgets background */
.tsv-dashboard-widget-content {
    background: var(--transparent) !important;
}

/* draggable sidebar line */
.tsv-activity-primary {
    border-left: var(--tsv-separation-border) !important;
}

/* header blur armount */
.tsv-floating-background {
    backdrop-filter: var(--tsv-blur) !important;
}

/* header bottom border */
.tsv-header {
    border-bottom: 0px !important;
}

/* top tool bar header transparent */
.tsv-header-bar-below-tools:before {
    opacity: 0 !important;
    background: var(--transparent) !important;
}

/* header opacity fully displayed */
.tsv-header.tsv-header-floating:before {
    opacity: 1 !important;
}

/* widget box border color */
.tsv-dashboard-widget {
    background: var(--settings-card) !important;
    backdrop-filter: var(--tsv-blur) !important;
    box-shadow: var(--hard-shadow) !important;
}

/* widget text title background */
.ts-widget-section-header .title {
    background: var(--title) !important;
    border-radius: var(--tsv-border-radius) !important;
    box-shadow: var(--hard-shadow) !important;
}

/* widget text border color */
.ts-widget-section-header .title:before, .ts-widget-section-header .title:after {
    background: var(--transparent) !important;
}

/* server widgets box backgrounds */
.tsv-activity-secondary .ts-card, .tsv-sidebar .ts-card {
    background: var(--transparent)!important;
    box-shadow: none !important;
}

/* remove search bar shadow */
.ts-input:focus, .ts-input:hover, .tsv-location-bar.tsv-active, .tsv-location-bar:focus, .tsv-search-bar.tsv-active, .tsv-search-bar:focus, .tsv-location-navigator {
    box-shadow: var(--hard-shadow) !important;
}

/* blur amount avatar view */
.tsv-modal-overlay {
    backdrop-filter: var(--tsv-blur) !important;
    box-shadow: none !important;
    border-radius: var(--tsv-radius) !important;
}

/* remove blur background color avatar view */
.tsv-modal-overlay:before {
    background-color: var(--transparent) !important;
}

/* remove border avatar view */
.ts-lightbox .ts-lightbox-content-basis[data-v-5fb73f40] {
    border: 0px !important;
    background: none !important;
    box-shadow: none !important;
}

/* remove background avatar view */
.ts-lightbox .ts-lightbox-content-platter[data-v-5fb73f40] {
    background: none !important;
}

/* radius avatar */
.ts-lightbox .ts-lightbox-content-platter .ts-lightbox-content-platter-inner.image img[data-v-5fb73f40] {
    border-radius: 10px !important;
    object-fit: cover !important;
}

/* avatar view close button */
.ts-lightbox .ts-lightbox-content-platter .ts-lightbox-content-platter-overlay .ts-lightbox-closebox[data-v-5fb73f40] {
    right: 48% !important;
    top: 10% !important;
    background: darkred !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 30px !important;
}

/* avatar view close button hover */
.ts-lightbox .ts-lightbox-content-platter .ts-lightbox-content-platter-overlay .ts-lightbox-closebox[data-v-5fb73f40]:hover {
    box-shadow: var(--soft-shadow) !important;
    background: red !important;
}

/* remove gradient avatar view bottom info and center text */
.ts-lightbox .ts-lightbox-content-platter .ts-lightbox-content-platter-overlay .ts-lightbox-content-platter-overlay-text[data-v-5fb73f40]{
    background: none !important;
    text-align: center !important;
}

/* center avatar view bottom text */
.tsv-modal-overlay h5 {
    text-align: center !important;
}

/* center avatar view image file type text */
.ts-lightbox .ts-lightbox-content-footer[data-v-5fb73f40] {
    padding: 0 !important;
    margin-left: 50% !important;
    width: 100% !important;
}

/* avatar view image file type text color */
.ts-lightbox .ts-lightbox-content-footer span[data-v-5fb73f40] {
    color: var(--tsv-tint) !important;
    margin-left: -10px !important;
}

/* place the close button image more to the right */
.ts-lightbox .ts-lightbox-content-platter .ts-lightbox-content-platter-overlay .ts-lightbox-closebox[data-v-5fb73f40] .tsv-icon  {
    margin-left: 2px !important;
}

/* remove channel background when selected */
.ts-server-tree-item-background-image-full {
    display: none !important;
}

/* right sidebar client info cards background */
.ts-widget-container .tsv-server-info-grid .tsv-server-info-grid-item {
    background-color: var(--tabs-colors) !important;
    box-shadow: var(--hard-shadow) !important;
    width: 90% !important;
    margin-left: 5px !important;
    margin-top: 5px !important;
}

/* channel selection box shadow */
.ts-server-tree-item-leaf.channel.tsv-active .ts-server-tree-item-background-image, .ts-server-tree-item-leaf.channel.tsv-active .tsv-item-highlight, .ts-server-tree-item-leaf.client.tsv-active .ts-server-tree-item-background-image, .ts-server-tree-item-leaf.client.tsv-active .tsv-item-highlight, .ts-server-tree-item-leaf.spacer.tsv-active .ts-server-tree-item-background-image, .ts-server-tree-item-leaf.spacer.tsv-active .tsv-item-highlight {
    box-shadow: var(--soft-shadow) !important;
}

/* text color */
.tsv-item-content {
    color: var(--text-color) !important;
}

/* channel make menu buttons */
.tsv-button-filled {
    background: var(--tabs-colors) !important;
    border-radius: var(--tsv-radius) !important;
}

/* channel make menu name input border */
.ts-text-input-box-inner .ts-input, .ts-text-input-box-inner .ts-input:hover {
    border: 0px !important;

}

/* self status footer */
.tsv-footer:before {
    background: var(--transparent) !important;
    backdrop-filter: var(--tsv-blur) !important;
}

/* footer color */
.tsv-footer {
    border-top: 0px !important;
    backdrop-filter: var(--tsv-blur) !important;
    background: var(--transparent) !important;
}

 /* dark text color */
.tsv-server-info-footer {
    color: var(--tsv-font-subtitle-color) !important;
}

/* dashboard widget content servers margin */
.tsv-dashboard-widget-content .tsv-no-padding .tsv-item {
    margin-bottom: 3px !important;
}

/* chat messages background */
.ts-chat-message-system-body[data-v-12e55a26] {
    background: var(--transparent) !important;
}

/* chat input active/hover border */
.ts-chat-input-container.focus, .ts-chat-input-container:hover {
    border: 1px solid var(--transparent) !important;
}

/* border chat input */
.ts-chat-input-container {
    border: 1px solid var(--transparent) !important;
    background: var(--transparent) !important;
}

/* chat input background */
.tsv-activity-secondary .ts-chat-input-container, .tsv-activity-secondary .ts-chat-input-container-content,
.tsv-activity-secondary .ts-chat-input-emoji-picker, .tsv-activity-secondary .ts-chat-input-emoji-picker .ts-chat-input-tab.active,
.tsv-dashboard-widget .ts-chat-input-container, .tsv-dashboard-widget .ts-chat-input-container-content, .tsv-dashboard-widget .ts-chat-input-emoji-picker,
.tsv-dashboard-widget .ts-chat-input-emoji-picker .ts-chat-input-tab.active, .tsv-sidebar .ts-chat-input-container, .tsv-sidebar .ts-chat-input-container-content,
.tsv-sidebar .ts-chat-input-emoji-picker, .tsv-sidebar .ts-chat-input-emoji-picker .ts-chat-input-tab.active {
    background: var(--transparent) !important;
    backdrop-filter: var(--tsv-blur) !important;
}

/* chatbox container content search */
.ts-chat-input-container-content {
    background: var(--transparent) !important;
}

/* chatbox size + chatbox input */
.ts-chat-input-container-content .ts-chat-input-container-content-inner {
    box-shadow: var(--hard-shadow) !important;
    border-radius: var(--tsv-border-radius) !important;
    background: var(--chatinput) !important;
    backdrop-filter: var(--tsv-blur) !important;
}

/* second blurred header background */
.tsv-activity-secondary .tsv-header.tsv-header-floating:before {
    background: var(--transparent) !important;
    backdrop-filter: var(--tsv-blur) !important;
}

/* blur the header */
.tsv-dashboard-widget .tsv-header.tsv-header-floating, .tsv-sidebar .tsv-header.tsv-header-floating, .tsv-header:before, .tsv-activity-secondary .tsv-header:before, .tsv-dashboard-widget .tsv-header:before, .tsv-sidebar .tsv-header:before {
    background: var(--transparent) !important;

}

/* text color for server names */
.ts-server-tree-item-leaf .ts-server-tree-item-text {
    color: var(--text-color) !important;
}

/* emoji picker background */
.ts-chat-input-container.focus .ts-chat-input-emoji-picker, .ts-chat-input-container:hover .ts-chat-input-emoji-picker {
    border: 1px solid var(--transparent) !important;
    border-bottom: 1px solid var(--transparent) !important;
    box-shadow: var(--menu-shadow) !important;
    background: var(--emojibg) !important;
    margin-bottom: 10px !important;
    border-radius: 10px !important;
    margin-right: 20px !important;
}

/* emoji picker header */
.ts-chat-input-tabs, .ts-chat-input-tabs .ts-chat-input-tab.active, .ts-chat-input-tabs .ts-chat-input-tab {
    background-color: var(--emojibg) !important;
}

/* redesigned emoji picker frequently used */
.ts-emoji-picker .ts-emoji-picker-sticky-header {
    display: none !important;
}

/* server navigation header */
.tsv-bar.tsv-navigation-bar {
    background: var(--transparent) !important;
}

/* color picked emoji picker */
.ts-emoji-picker .ts-emoji-picker-skin-swatches {
    background-color: var(--tsv-bg-blur) !important;
    backdrop-filter: blur(20px) !important;
    margin-top: -5px !important;
    z-index: 1 !important;
}

/* emoji picked colored selected line */
.ts-emoji-picker .ts-emoji-picker-anchors .ts-emoji-picker-anchor.ts-emoji-picker-anchor-selected,
.ts-emoji-picker .ts-emoji-picker-anchors .ts-emoji-picker-anchor:hover {
    border-bottom-color: var(--tsv-tint) !important;
}

.tsv-server-info-topic-banner .ts-text-input-box-inner.hideDisclosure .ts-input {
    background: var(--transparent) !important;
}

/* server footer info */
.tsv-server-info-footer {
    background: var(--settings-card) !important;
    backdrop-filter: var(--tsv-blur) !important;
    border-radius: var(--tsv-border-radius) !important;
    box-shadow: var(--hard-shadow) !important;
    width: 70% !important;
    height: 5% !important;
    color: var(--textcolor) !important;
}

/* permissions search box */
.ts-text-input-box-inner.hideDisclosure .ts-input {
    background: var(--context-menu) !important;
    box-shadow: var(--soft-shadow) !important;
}

/* chatbox attachments background */
.ts-chat-message-attachment .ts-chat-message-attachment-inner {
    background: var(--chatbox) !important;
    backdrop-filter: var(--tsv-blur) !important;
    border-radius: var(--tsv-border-radius) !important;
    border: 1px solid !important;
    border-color: var(--transparent) !important;
}

/* chatbox attachments positioning */
.ts-chat-room-event-compact .ts-chat-message-attachment {
    margin-top: 10px !important;
}



/* SIDEBAR */

/* bookmarks resized positioned tabs */
.ts-bookmarks-root {
    margin-top: 10px !important;
}

/* disbale background colors for all panels  */
.sidebar-pane-layout, .tsv-activity-secondary .tsv-body-background, .tsv-sidebar .tsv-body-background, .tsv-body-background, .tsv-activity-secondary .tsv-header-backdrop,
.tsv-sidebar .tsv-header-backdrop, .tsv-window, .main-pane-layout, .tsv-highlight.tsv-header, .tsv-highlight.tsv-header:before {
    background-image: var(--transparent) !important;
    background: var(--transparent) !important;
}

/* notification icon color */
.tsv-icon-notifications .tsv-icon-base-fill, .tsv-icon-teamspeak-label .tsv-icon-base-fill {
    fill: var(--tsv-tint2) !important;
}

/* logo icon color */
.tsv-icon-teamspeak-label .tsv-icon-tint-fill {
    fill: var(--tsv-tint) !important;
}

/* searchbar background */
.tsv-location-bar, .tsv-search-bar {
    background: var(--tabs-colors) !important;
    box-shadow: var(--hard-shadow) !important;
}

/* searchbar input background */
.tsv-search-input {
    background: var(--search) !important;
    border-radius: var(--tsv-radius) !important;
    color: var(--text-color) !important;
}

/* sidebar picker background */
.tsv-tabs-slim {
    margin-top: 10px !important;
}

/* sidebar picker background */
.tsv-tabs-slim:before {
   background: none !important;
}

/* sidebar picker selected icon */
.tsv-tab-item-active:before {
    top: 0 !important;
    background: var(--tabs-colors) !important;
    border-radius: var(--tsv-radius) !important;
    box-shadow: var(--soft-shadow) !important;
}

/* increase tab width server menu */
.tsv-tab-item-active {
    width: var(--icon-width) !important;
    background: var(--transparent) !important;
}

/* list item selection color */
.tsv-item-highlight {
    background: #00A86B10 !important;
}

/* rework active talking users menu shadow */
.ts-servertree-sidebar-overlay {
    box-shadow: none !important;
    border-bottom: 1px solid var(--tsv-tint) !important;
    background: var(--transparent) !important;
}

/* rework active talking users menu background */
.ts-servertree-sidebar-overlay .ts-server-tree-item-root {
    background: var(--voicemenu) !important;
    backdrop-filter: var(--tsv-blur) !important;
}

/* repositioned the server tabs */
.bookmarks .tsv-item {
    display: inline-flex !important;
    width: var(--bookmarkstab-width) !important;
    height: var(--bookmarkstab-height) !important;
    border-radius: var(--tsv-radius) !important;
    background: var(--tabs-colors) !important;
    margin-left: 10px !important;
    box-shadow: var(--soft-shadow) !important;
}

/* bookmarks server name repositioned */
.bookmarks .tsv-item-container {
    margin-left: -10px !important;
}

/* hover and selected server tab highlight */
.tsv-item-highlight, .tsv-item-highlight-extra {
    background: var(--tabs-active) !important;
    bottom: 0 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: var(--tsv-radius) !important;
}

/* reposistioned active servers list tabs */
.tsv-activity-group-list .tsv-item {
    width: var(--serverstab-width) !important;
    height: var(--serverstab-height) !important;
    margin-left: 10px !important;
    display: inline-flex !important;
    background: var(--tabs-colors) !important;
    border-radius: var(--tsv-radius) !important;
    box-shadow: var(--soft-shadow) !important;
}

/* active server name repositioned */
.tsv-activity-group-list .tsv-item-container {
    margin-left: -10px !important;
}


/* active icon color */
.tsv-item-active-indicator {
    border-right-color: var(--tsv-icon-tint) !important;
}

/* border top the status name */
.tsv-activity-secondary .tsv-footer, .tsv-dashboard-widget .tsv-footer, .tsv-sidebar .tsv-footer {
    border-top: 0px !important;
    background: var(--transparent) !important;
    backdrop-filter: var(--tsv-blur) !important;
}

/* contect menu item seperation */
.ts-context-menu .tsv-item, .ts-false-context-menu .tsv-item {
    margin-bottom: 3px !important;
}

/* background tab close color */
.tsv-activity-group-list .tsv-button-plain:hover {
    background: var(--tsv-tcbc) !important;
    border-radius: 20px !important;
}

/* sidebar tool selection shadow */
.tsv-bar.tsv-segmented-control, .tsv-bar .tsv-segmented-control, .tsv-segmented-button-embedded.tsv-segmented-control, .tsv-segmented-button-embedded .tsv-segmented-control {
    box-shadow: var(--hard-shadow) !important;
    background: var(--tabs-colors) !important;
}

/* tab selected arrow color */
.tsv-item-active-indicator:after {
    border-right-color: var(--title) !important;
}

/* slideover container */
.ts-activity-slideover-container {
    background: var(--tsv-bg-blur) !important;
    backdrop-filter: var(--tsv-blur) !important;
    border-radius: var(--tsv-border-radius) !important;
    margin-top: 2% !important;
    margin-right: 2% !important;
    box-shadow: var(--menu-shadow) !important;
}

/* removes side bar white line when resized */
.ts-resources-group-fixed-size:before {
    background: var(--transparent) !important;
}

/* footer graph menu background */
.ts-graph-layer-background {
    fill: var(--transparent) !important;
}

/* footer events menu background */
.ts-server-events-list {
    background: var(--transparent) !important;
}

/* footer events menu list border colors */
.ts-server-events-list li:last-child, .ts-server-events-list li:first-child {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

/* permissions cards background */
.ts-simple-card {
    background: var(--permissions-card) !important;
    backdrop-filter: blur(20px) !important;
    box-shadow: var(--soft-shadow) !important;
    border-radius: var(--tsv-border-radius) !important;
}

/* server log list permissions card background */
.ts-server-logs-list {
    background: var(--permissions-card) !important;
    backdrop-filter: blur(20px) !important;
    box-shadow: var(--soft-shadow) !important;
    border-radius: var(--tsv-border-radius) !important;
}

/* add margin to dropdown permissions cards header background */
.ts-simple-card .tsv-segmented-control {
    margin-right: 10px !important;
    background: var(--title) !important;
}

/* create button opacity permissions cards header background */
.navigationRow.top .tsv-button.tsv-is-constructive {
    opacity: 1 !important;
}




/* SETTINGS */
/* settings background colored */
.tsv-background-canvas.small {
    display: var(--defaultbg) !important;
    background: radial-gradient(circle, rgba(44,255,178,1) 0%, rgba(55,88,187,1) 100%) !important;
}

/* settings button import */
.ts-identities-root .ts-widget-container .tsv-clearance-small .tsv-button-plain {
    background: var(--settings-card) !important;
    backdrop-filter: var(--tsv-blur) !important;
    border-radius: var(--tsv-border-radius) !important;
    height: 30px !important;
    width: 30% !important;
}

/* settings card backgrounds */
.ts-account-settings-view .ts-card, .ts-appearance-settings .ts-card, .ts-audio-settings .ts-card, .ts-keybinds-settings .ts-card, .ts-notifications-root .ts-card, .ts-whisper-settings .ts-card, .ts-identities-root .ts-card, .ts-apps-settings .ts-card, .ts-privacy-settings-view .ts-card, .ts-about-settings .ts-card {
    background-color: var(--settings-card) !important;
    border-radius: var(--tsv-radius) !important;
    backdrop-filter: var(--tsv-blur) !important;
    box-shadow: var(--hard-shadow) !important;
}

/* setting profile background */
.tsv-view-banner .tsv-view-background {
    border-radius: var(--tsv-border-radius) !important;
    background: var(--settings-card) !important;
    backdrop-filter: var(--tsv-blur) !important;
    opacity: 1 !important;
    box-shadow: none !important;
}

/* context menu background */
.ts-context-menu {
    background-color: var(--context-menu) !important;
    border: 0px !important;
    backdrop-filter: var(--tsv-blur) !important;
    box-shadow: var(--menu-shadow) !important;
}

/* toggle background */
.ts-toggle {
    background: var(--toggle) !important;
}

/* toggle active color */
.ts-toggle-inner.checked:after {
    background: var(--tsv-icon-tint) !important;
}

/* privacy settings card background */
.ts-analytics-privacy-mode.selected {
    background: var(--privacy-card) !important;
    border: 0px !important;
    box-shadow: var(--hard-shadow) !important;
}

/* privace mode image fill */
.ts-analytics-privacy-mode.selected .tsv-icon-base-fill {
    fill: var(--tsv-tint2) !important;
}

/* settings menu tabs repositioned */
.tsv-settings-categories .tsv-item {
    width: 95% !important;
    margin-left: 10px !important;
    margin-bottom: 3px !important;
}

/* settings menu tabs content repositioned */
.tsv-settings-categories .tsv-item-container {
    margin-left: -10px !important;
}

/* incease avatar settins banner blur */
.tsv-detail-info-avatar-banner {
    filter: var(--tsv-blur) !important;
}

/* change small box colors */
.ts-user-style .ts-user-style-cards .ts-user-style-card {
    background: var(--tabs-colors) !important;
}

/* remove settings element backgrounds (change size) */
.ts-servertree-preview, .tsv-settings-window-scale-preview {
    background: var(--transparent) !important;
}

/* remove background icon channel */
.tsv-icon-channel-bg-fill {
    background: var(--transparent) !important;
}

/* remove settings badges background */
.ts-account-badges-active-area.fake-backing {
    --tsv-icon-channel-bg: var(--transparent) !important;
    --tsv-icon-channel-shade1: var(--transparent) !important;
    --tsv-icon-channel-shade2: var(--transparent) !important;
    --tsv-icon-channel-shade3: var(--transparent) !important;
}

/* default channel banner color */
.tsv-server-info-default-banner {
    background: var(--title) !important;
    opacity: 1 !important;
}

/* default channel banner name color */
.tsv-detail-info-topic .tsv-detail-info-topic-banner, .tsv-detail-info-topic .tsv-server-info-topic-banner, .tsv-server-info-topic .tsv-detail-info-topic-banner, .tsv-server-info-topic .tsv-server-info-topic-banner {
    background-color: var(--context-menu) !important;
    backdrop-filter: var(--tsv-blur) !important;
}

/* remove the ts logo from channel banner */
.tsv-server-info-default-banner-icon {
    display: none !important;
}



/* VOICE BULB & NAME */

/* name color */
.ts-server-tree-item-leaf.client, .ts-server-tree-item-leaf.client.self {
    color: var(--name-color) !important;
}

/* background bulb color voiceless */
.tsv-icon .tsv-icon-client-voiceless circle, .tsv-icon .tsv-icon-client-voiceless ellipse {
    fill: var(--voice2) !important;
}

/* background bulb color voice */
.tsv-icon .tsv-icon-client-detailed-talking .tsv-icon-tint-fill {
    fill: var(--voice) !important;
}

/* background bulb circle voiceless */
.tsv-icon .tsv-icon-client-normal circle {
    fill: var(--voice2) !important;
}

/* background bulb circle color voice */
.tsv-icon .tsv-icon-client-talking circle {
    fill: var(--voice) !important;
}

/* background bulb circle voice */
.client .tsv-icon-tint-fill {
    fill: var(--voice) !important;
}




/* SCROLLBAR */
/* scrollbar color */
::-webkit-scrollbar-thumb {
    background-color: var(--tsv-scrollbar-bg) !important;
}